.ui-stepper__header {
    width: 100%;
    border: 2px solid var(--grey-light);
    display: flex;
    justify-content: space-around;
    background-color: var(--white);
    height: 70px;
    align-items: center;
}

.ui-stepper__header__item {
    display: flex;
    height: inherit;
    width: 100%;
    align-items: center;
    font-size: 16px;
    color: var(--grey-dark);
}

.ui-stepper__header__item__content {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.ui-stepper__header__item--active .ui-stepper__header__item__content {
    font-weight: bolder;
}

.ui-stepper__header__item--active .ui-stepper__header__item__content {
    border-bottom: 2px solid var(--blue);
}

.ui-stepper__header__item--active:not(:first-child)::before {
    content: '';
    height: 70px;
    width: 36px;
    margin-left: -36px;
    border-left: 2px solid transparent;
    border-bottom: 2px solid var(--blue);
    margin-top: -2px;
}

.ui-stepper__header__item__arrow {
    width: 35.7px;
    height: inherit;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.ui-stepper__header__item:last-child .ui-stepper__header__item__arrow {
    display: none;
}

.ui-stepper__header__arrow-icon {
    height: 50px;
    width: 50px;
    border: 2px solid var(--grey-light);
    transform: rotate(45deg);
    margin-left: -25px;
}

.ui-stepper__header__item--active .ui-stepper__header__arrow-icon {
    box-shadow: 0px 2px 8px rgba(var(--grey-dark-rgb), 0.0834466);
}

.ui-stepper__header__item__number {
    width: 36px;
    height: 36px;
    background-color: var(--white-dark);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
