<div class="ui-stepper">
    <div class="ui-stepper__content">
        <div class="ui-stepper__header">
            <div class="ui-stepper__header__item" *ngFor="let item of viewModel.items; let index = index;" [ngClass]="{'ui-stepper__header__item--active': index === viewModel.selectedIndex}">
                <div class="ui-stepper__header__item__content" >
                    <span class="ui-stepper__header__item__number">{{index + 1}}</span> {{item.title}}</div>
                <div class="ui-stepper__header__item__arrow">
                    <div class="ui-stepper__header__arrow-icon"></div>
                </div>
            </div>
        </div>
        <div class="ui-stepper__body">            
            <ng-template #currentStep></ng-template>
        </div>
    </div>
</div>