<div class="main">
    <section>
        <h2>Messages</h2>

        <article>
            <h3>Messaging - Neutral</h3>

            <div class="messaging--neutral">
                <strong>Nice!</strong>
                Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than
                mine. You don't get sick, I do.
            </div>
        </article>

        <div class="wrapper">
            <article>
                <h3>Messaging - Success</h3>

                <div class="messaging--success">
                    <strong>Nice!</strong>
                    Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than
                    mine. You don't get sick, I do.
                </div>
            </article>
            <article>
                <h3>Messaging - Warning</h3>

                <div class="messaging--warning">
                    <strong>Nice!</strong>
                    Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than
                    mine. You don't get sick, I do.
                </div>
            </article>
            <article>
                <h3>Messaging - Alert</h3>

                <div class="messaging--alert">
                    <strong>Nice!</strong>
                    Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than
                    mine. You don't get sick, I do.
                </div>
            </article>
        </div>
    </section>
</div>
