.ui-pagination-container {
    display: flex;
    padding-top: 18px;
    padding-bottom: 18px;
    justify-content: space-between;
}

.ui-pagination-links,
.ui-pagination-totals {
    font-size: 14px;
}

.ui-pagination-container button[type='tertiary'].ui-pagination-links {
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}

.ui-pagination-links:first-child {
    margin-right: 26px;
}

.ui-pagination-container .ui-pagination-links[disabled],
.ui-pagination-container .ui-pagination-links[disabled]:hover {
    color: var(--grey);
    cursor: not-allowed;
    background-color: transparent;
}

.ui-pagination-icon-left {
    margin: 0 6px 0 0;
}

.ui-pagination-icon-right {
    margin: 0 0 0 6px;
}
