<div class="ui-pagination-container" *ngIf="viewModel.canShowPagination">
    <div class="ui-pagination-totals">{{viewModel.showingItemsOfTotalString}}</div>
    <div class="ui-pagination-links-container">
        <button class="ui-pagination-links"
            [disabled]="viewModel.isPreviousDisabled"
            (click)="onPageLinkClick(paginationDirections.PREVIOUS)"
            type="tertiary"><i class="huub-material-icon ui-pagination-icon-left" icon="chevron-left"></i>{{viewModel.previousText}}</button>
        <button class="ui-pagination-links"
            [disabled]="viewModel.isNextDisabled"
            (click)="onPageLinkClick(paginationDirections.NEXT)"
            type="tertiary">{{viewModel.nextText}}<i class="huub-material-icon ui-pagination-icon-right" icon="chevron-right"></i></button>
    </div>
</div>
