<div class="main">
    <section>
        <h1>Button Playground</h1>

        <div class="wrapper">
            <div>
                <p>Class: <strong>{{class}}</strong></p>
                <p>Color: <strong>{{color}}</strong></p>
                <p>Type: <strong>{{type}}</strong></p>
                <p>Role: <strong>{{role}}</strong></p>
                <p>Disabled: <strong>{{disabled}}</strong></p>
            </div>

            <button
                [class]="class"
                [attr.color]="color"
                [disabled]="disabled"
                [type]="type"
                [attr.role]="role"
            >
                    {{text}}
            </button>

        </div>
    </section>
</div>
