:root {
    --progress-bar-height: 8px;
    --progress-small-bar-height: 4px;
    --progress-large-bar-height: 12px;
}

ui-progress-bar {
    display: block;
}

.ui-progress-bar {
    height: var(--progress-bar-height);
    background-color: var(--grey-light);
    border-radius: calc(var(--progress-bar-height) / 2);
}

.ui-progress-bar__foreground {
    transition: width 0.1s linear;
    height: inherit;
    background: var(--orange-gradient);
    border-top-left-radius: calc(var(--progress-bar-height) / 2);
    border-bottom-left-radius: calc(var(--progress-bar-height) / 2);
}

.ui-progress-bar--complete .ui-progress-bar__foreground {
    border-top-right-radius: calc(var(--progress-bar-height) / 2);
    border-bottom-right-radius: calc(var(--progress-bar-height) / 2);
    background: var(--green-gradient);
}

ui-progress-bar[size='small'] .ui-progress-bar {
    height: var(--progress-small-bar-height);
    border-radius: calc(var(--progress-small-bar-height) / 2);
}

ui-progress-bar[size='small'] .ui-progress-bar__foreground {
    border-top-left-radius: calc(var(--progress-small-bar-height) / 2);
    border-bottom-left-radius: calc(var(--progress-small-bar-height) / 2);
}

ui-progress-bar[size='small'] .ui-progress-bar--complete .ui-progress-bar__foreground {
    border-top-right-radius: calc(var(--progress-small-bar-height) / 2);
    border-bottom-right-radius: calc(var(--progress-small-bar-height) / 2);
}

ui-progress-bar[size='large'] .ui-progress-bar {
    height: var(--progress-large-bar-height);
    border-radius: calc(var(--progress-large-bar-height) / 2);
}

ui-progress-bar[size='large'] .ui-progress-bar__foreground {
    border-top-left-radius: calc(var(--progress-large-bar-height) / 2);
    border-bottom-left-radius: calc(var(--progress-large-bar-height) / 2);
}

ui-progress-bar[size='large'] .ui-progress-bar--complete .ui-progress-bar__foreground {
    border-top-right-radius: calc(var(--progress-large-bar-height) / 2);
    border-bottom-right-radius: calc(var(--progress-large-bar-height) / 2);
}
