<div class="ui-progress-bar"
     [ngClass]="{
        'ui-progress-bar--complete': isCompleted
     }">
    <div class="ui-progress-bar__foreground"
         [ngStyle]="{
             'width': percentage + '%'
         }"></div>
</div>
