.ui-upload-file__container--upload,
.ui-upload-file__container--uploading,
.ui-upload-file__container--uploaded {
    position: relative;
    display: flex;
    flex: 1;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-weight: 500;
}

.ui-upload-file__container--upload,
.ui-upload-file__container--uploading {
    border: 1px solid var(--blue-light);
    border-style: dashed;
    background-color: var(--blue-lighter);
}

.ui-upload-file__container--uploaded {
    border: 1px solid var(--white-dark);
    flex-direction: row;
}

.ui-upload-file__container--dragover {
    background-color: var(--blue-light);
}

.ui-upload-file__upload-input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.ui-upload-file__message-link {
    color: var(--blue);
    cursor: pointer;
    text-decoration: underline;
}

.ui-upload-file__p-bar {
    width: 100%;
}

.ui-upload-file__p-bar__container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80%;
}

.ui-upload-file__p-bar__name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.ui-upload-file__p-bar__cancel {
    position: absolute;
    top: 11px;
    right: -36px;
    font-size: 8px;
    cursor: pointer;
}

.ui-upload-file__dummy-input {
    display: none;
}

.ui-upload-file__doc-name {
    flex: 1;
    display: flex;
    padding-left: 30px;
    align-items: center;
}

.ui-upload-file__doc-name .huub-material-icon {
    color: var(--blue);
}

.ui-upload-file__doc-name-text {
    margin-left: 16px;
    font-size: 12px;
    color: var(--blue-grey-dark);
}

.ui-upload-file__doc-action-container {
    padding-right: 20px;
}

.ui-upload-file__doc-action {
    margin-left: 22px;
    font-size: 12px;
    color: var(--blue-grey-dark);
}

.ui-upload-file__doc-action-container .ui-upload-file__doc-action:first-child {
    margin-left: 0;
}
