<div class="ui-upload-file__container--upload"
    [ngClass]="{
        'ui-upload-file__container--dragover': componentActionsModel.isBeingDragged
    }"
    *ngIf="!viewModel.isUploaded && !viewModel.isUploading">
        Drag and drop a file here to upload, or&nbsp;<span class="ui-upload-file__message-link">Select a file</span>
        <input type="file"
                class="ui-upload-file__upload-input"
                (dragover)="onDragOver($event)"

                (dragleave)="onDragLeave($event)"
                (dragend)="onDragLeave($event)"

                (drop)="onDragDrop($event)"
                (change)="onChange($event)">
</div>

<div class="ui-upload-file__container--uploading" *ngIf="viewModel.isUploading">
    <div class="ui-upload-file__p-bar__container">
        <div class="ui-upload-file__p-bar__name">
            <div>{{viewModel.fileName}}</div>
            <div>{{viewModel.fileUploadPercentage}}%</div>
        </div>
        <ui-progress-bar class="ui-upload-file__p-bar"
                         size="small"
                         [percentage]="viewModel.fileUploadPercentage"></ui-progress-bar>
        <i class="huub-material-icon ui-upload-file__p-bar__cancel"
            (click)="onUploadCancelClicked()"
            icon="close"></i>
    </div>
</div>

<span class="ui-upload-file__container--uploaded"
    *ngIf="viewModel.isUploaded && !viewModel.isUploading">
    <input type="file"
            #uploadInput
            class="ui-upload-file__dummy-input"
            (change)="onChange($event)">
    <div class="ui-upload-file__doc-name">
        <i class="huub-material-icon" icon="document"></i>
        <span class="ui-upload-file__doc-name-text">{{viewModel.fileName}}</span>
    </div>
    <div class="ui-upload-file__doc-action-container">
        <a href=""
            (click)="onViewFileClicked($event)"
            class="ui-upload-file__doc-action">View</a>
        <a href=""
            (click)="onReplaceDocumentClicked($event)"
            class="ui-upload-file__doc-action">Replace</a>
        <a href=""
            (click)="onRemoveFileClicked($event)"
            class="ui-upload-file__doc-action">Remove</a>
    </div>
</span>
