.wrapper-colors {
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}

@media screen and (min-width: 900px) {
    .wrapper-colors { grid-template-columns: repeat(3, 1fr) }
}

@media screen and (min-width: 1200px) {
    .wrapper-colors { grid-template-columns: repeat(5, 1fr) }
}

.color {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 100px 20px;
    grid-row-gap: 10px;

    padding: 10px;
    border: 1px dashed rgba(0,0,0,0.2)
}

.color-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-box span {
    padding: 5px;
    color: #000;
    background-color: rgb(255,255,255, .5);
}
