<div class="main">
    <section>
        <h1>Colors</h1>

        <div class="wrapper-colors">
            <ng-template ngFor let-color [ngForOf]="variables" let-i="index">
                <div class="color">
                    <div class="color-box" [ngStyle]="{'background-image': color.variable}" *ngIf="color.isGradient">
                        <span>{{color.value}}</span>
                    </div>
                    <div class="color-box" *ngIf="color.isBoxShadow">
                        <span [ngStyle]="{'box-shadow': color.variable}">{{color.value}}</span>
                    </div>
                    <div class="color-box" [ngStyle]="{'background-color': color.variable}" *ngIf="color.isRegularColor">
                        <span>{{color.value}}</span>
                    </div>
                    <div>{{color.name}}</div>
                </div>
            </ng-template>
        </div>
    </section>
</div>
