<div class="main">
    <section>
        <h2>Date Input</h2>

        <ui-date-input
            [datesDisabled]="datesDisabled"
            [disablePastDates]="true"
            [disableWeekendDays]="true"
            [datesWithBullets]="datesWithBullets"
            [bottomLabel]="'Service Level: Economy'"
            [disable]="false"
            [isInvalidDate]="true"
            [value]="inputDateValue"
            [placeholder]="'DD-MM-YYYY'"
            [dateFormat]="'dd-mm-yyyy'"
            [monthNames]="monthNames"
            [weekDays]="weekDays">
        </ui-date-input>
    </section>
</div>
