<div class="main">
    <section>
        <h2>Copy Input</h2>

        <div class="wrapper">
            <article>
                <ui-copy-input
                    value="Calle Cal Nyepa, 23, Calle Cal Nyepa, 23,Calle Cal Nyepa, 23,Calle Cal Nyepa, 23 Calle Cal Nyepa, 23, Calle Cal Nyepa, 23"
                    label="Address"
                    [editable]="false">
                </ui-copy-input>
            </article>
            <article>
                <ui-copy-input
                    value="30"
                    type="currency"
                    currency='eur'
                    [label]="currencyLabel"
                    (onSubmit)="onSubmit($event)">
                </ui-copy-input>
            </article>
            <article>
                <ui-copy-input
                    value="30"
                    type="currency"
                    currency='eur'
                    [label]="currencyLabel"
                    (onSubmit)="onSubmit($event)"
                    [disabled]="true">
                </ui-copy-input>
            </article>
            <article>
                <ui-copy-input
                    value="Calle Cal Nyepa, 23"
                    [viewModel]="uiCopyViewModel">
                </ui-copy-input>
            </article>

            <article>
                <div style="width: 30%">
                    <ui-copy-input
                        value="Calle Cal Nyepa, 23"
                        [viewModel]="uiCopyViewModel">
                    </ui-copy-input>
                </div>
            </article>

            <article>
                <ui-copy-input
                    value="Calle Cal Nyepa, 23"
                    [viewModel]="uiCopyViewModel"
                    [disabled]="true">
                </ui-copy-input>
            </article>
            <article>
                <div style="width:150px">
                    <ui-copy-input
                        value="30"
                        type="currency"
                        currency='eur'
                        [label]="currencyLabel"
                        (onSubmit)="onSubmit($event)">
                    </ui-copy-input>
                </div>
            </article>
        </div>
    </section>
</div>
