<div class="main">
    <h2>AutoComplete Input</h2>

    <article>
        <h3>Autocomplete Normal</h3>

        <ui-auto-complete
            [multiple]="false"
            [placeholder]="'Countrys'"
            (onItemsChanged)="onItemsChanged($event)"
            [optionsList]="optionsList"
            [hasError]="false">
        </ui-auto-complete>
    </article>

    <article>
        <h3>Autocomplete Multiple</h3>

        <ui-auto-complete
            [placeholder]="'Countrys'"
            (onItemsChanged)="onItemsChanged($event)"
            [optionsList]="optionsList">
        </ui-auto-complete>
    </article>
</div>
