<div class="ui-currency-input">
    <span class="currency-char" (click)="openCloseDropdown()">{{currencySymbol}}</span>
    <input type="number" class="currency-char__input" [attr.placeholder]="placeholder" (input)="onInputChange()"
        [(ngModel)]="value" [ngModelOptions]="{standalone: true}" [disabled]="disabled">
    <div *ngIf="isDropdownOpened" class="currency-input__dropdown" (mouseleave)="openCloseDropdown()">
        <div *ngFor="let currency of currenciesList" class="currency-input__dropdown-item" (click)="changeCurrency(currency.iso3code)">
            <span class="currency-input__dropdown-char">{{currency.symbol}}</span>
            <span class="currency-input__dropdown-iso-code">{{currency.iso3code}}</span>
            <span class="currency-input__dropdown-name">{{currency.name}}</span>
        </div>
    </div>
</div>