<div class="main">
    <section>
        <h2>Textareas</h2>

        <div class="wrapper">
            <article>
                <h3>Textarea - Regular</h3>

                <textarea placeholder="Example"></textarea>
            </article>
            <article>
                <h3>Textarea - Disabled</h3>

                <textarea placeholder="Example" disabled></textarea>
            </article>
            <article>
                <h3>Textarea - Error</h3>

                <textarea class="form-field__input--error" placeholder="Example"></textarea>
            </article>
            <article>
                <h3>Textarea - With Description</h3>

                <div class="form-field__container">
                    <textarea placeholder="Example"></textarea>
                    <legend class="form-field__container-legend">Some description</legend>
                </div>
            </article>
            <article>
                <h3>Textarea - With Description & Error</h3>

                <div class="form-field__container">
                    <textarea class="form-field__input--error" placeholder="Example"></textarea>
                    <legend class="form-field__container-legend">Some description</legend>
                </div>
            </article>
        </div>
    </section>
</div>
