@import '../base/base.css';

ui-filter-tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ui-filter-tags__label {
    display: flex;
    height: 24px;
    width: auto;
    background-color: var(--grey-light);
    color: var(--blue-grey-dark);
    font-size: 12px;

    justify-content: center;
    align-items: center;

    padding: 0 6px;
    border-radius: 2px;
    margin-left: 5px;
}

.ui-filter-tags__label:first-child {
    margin-left: 0;
}

.ui-filter-tags__icon {
    cursor: pointer;
    margin-left: 4px;
}
