<label *ngFor="let label of viewModel.items; let labelIndex = index;"
        class="ui-filter-tags__label">
        <span class="ui-filter-tags__span">{{label.text}}</span>
        <i class="huub-material-icon ui-filter-tags__icon"
            icon="close"
            size="extra-extra-small"
            (click)="onLabelRemovedClick(labelIndex)"></i>
</label>
