<div class="main">
    <section>
        <h2>Currencies & Weights</h2>

        <article class="other">
            <h3>Currencies dropdown</h3>

            <ui-currencies-dropdown currency="EUR" value="Euro"></ui-currencies-dropdown>
        </article>

        <article>
            <h3>Currency Input</h3>

            <ui-currency-input currency='EUR' placeholder="1.5"></ui-currency-input>
            <ui-currency-input currency='GBP' (onChange)="onInputChange($event)"></ui-currency-input>
            <ui-currency-input currency='dkk' value="3"></ui-currency-input>
            <ui-currency-input currency='dkk' value="3" [disabled]="true"></ui-currency-input>
        </article>

        <article>
            <h3>Weight units dropdown</h3>

            <ui-weight-units-dropdown weightUnitSymbol="kg"></ui-weight-units-dropdown>
        </article>
    </section>
</div>
