<div class="main">
    <section>
        <h2>Spinners</h2>

        <div class="wrapper">
            <article>
                <h3>Spinner - Normal</h3>

                <ui-spinner [value]="1"></ui-spinner>
            </article>
            <article>
                <h3>Spinner - Error</h3>

                <ui-spinner [value]="1" [hasError]="true"></ui-spinner>
            </article>
            <article>
                <h3>Spinner - Disabled</h3>

                <ui-spinner [value]="1" [disabled]="true"></ui-spinner>
            </article>
        </div>
    </section>
</div>
