<nav class="ui-tabs__nav">
    <ul class="ui-tabs__nav-items">        
        <li *ngFor="let item of viewModel.items; let itemIndex = index;"
            [ngClass]="{
                'ui-tabs__nav-item': !(itemIndex === viewModel.selectedIndex) && !item.disabled,
                'ui-tabs__nav-item--active': itemIndex === viewModel.selectedIndex,
                'ui-tabs__nav-item--disabled': item.disabled
            }">
            <a (click)="onTabClicked(item, itemIndex)" class="ui-tabs__nav-link" [innerHTML]="item.text"></a>
        </li>
    </ul>
</nav>
