@import '../base/base.css';

.ui-tabs__nav,
.ui-tabs__nav .ui-tabs__nav-items,
.ui-tabs__nav .ui-tabs__nav-item,
.ui-tabs__nav .ui-tabs__nav-item--active {
    width: auto;
}

.ui-tabs__nav-link {
    display: flex;
    flex: 1;
    align-items: center;
    align-self: stretch;
    padding: 0 20px;
}

.ui-tabs__nav-item .ui-tabs__nav-link,
.ui-tabs__nav-item--active .ui-tabs__nav-link {
    cursor: pointer;
}

.ui-tabs__nav-item--disabled .ui-tabs__nav-link {
    cursor: default;
}

.ui-tabs__nav .ui-tabs__nav-item--active .ui-tabs__nav-link {
    font-weight: bold;
}

/* --- FLAT THEME --- */
ui-tabs[theme='flat'],
ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-items,
ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-item,
ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-item--active {
    display: flex;
    height: 32px;
}

ui-tabs[theme='flat'] .ui-tabs__nav-link {
    align-items: flex-start;
}

ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-item,
ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-item--active,
ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-item--disabled {
    position: relative;
    margin-left: 24px;
}

ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-item:first-child,
ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-item--active:first-child,
ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-item--disabled:first-child {
    margin-left: 0;
}

ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-item::after,
ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-item--active::after {
    content: '';
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: var(--blue);
}

ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-item--active::after {
    transform: scaleX(1);
}

ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-link {
    color: var(--grey-dark);
    text-decoration: none;
}

ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-item--active .ui-tabs__nav-link {
    color: var(--grey-dark);
}

ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-item--disabled .ui-tabs__nav-link {
    color: var(--grey);
}

ui-tabs[theme='flat'] .ui-tabs__nav .ui-tabs__nav-item .ui-tabs__nav-link:hover {
    color: var(--blue-grey-dark);
}

/* --- LARGE SQUARE THEME --- */
ui-tabs[theme='large-square'] .ui-tabs__nav-items {
    display: flex;
    font-size: 14px;
}

ui-tabs[theme='large-square'] .ui-tabs__nav-item,
ui-tabs[theme='large-square'] .ui-tabs__nav-item--active,
ui-tabs[theme='large-square'] .ui-tabs__nav-item--disabled {
    border: 1px solid var(--grey-light);
    border-left: 0;
    margin-bottom: -1px;
    height: 46px;
    display: flex;
    align-items: center;
}

ui-tabs[theme='large-square'] .ui-tabs__nav-item--active {
    color: var(--black);
    background-color: var(--white);
    border-bottom: var(--white);
}

ui-tabs[theme='large-square'] .ui-tabs__nav-item:first-child,
ui-tabs[theme='large-square'] .ui-tabs__nav-item--active:first-child,
ui-tabs[theme='large-square'] .ui-tabs__nav-item--disabled:first-child {
    margin-left: 0;
    border-left: 1px solid var(--grey-light);
    border-top-left-radius: 5px;
}

ui-tabs[theme='large-square'] .ui-tabs__nav-item:last-child,
ui-tabs[theme='large-square'] .ui-tabs__nav-item--active:last-child,
ui-tabs[theme='large-square'] .ui-tabs__nav-item--disabled:last-child {
    border-top-right-radius: 5px;
}

ui-tabs[theme='large-square'] .ui-tabs__nav-item,
ui-tabs[theme='large-square'] .ui-tabs__nav-item--disabled {
    background-color: var(--white-grey-light);
}

ui-tabs[theme='large-square'] .ui-tabs__nav-item {
    color: var(--blue-grey-dark);
}

ui-tabs[theme='large-square'] .ui-tabs__nav-item--disabled {
    color: var(--grey);
}

/* SMALL SQUARE THEME */
ui-tabs[theme='small-square'] .ui-tabs__nav-items {
    display: flex;
    font-size: 14px;
}

ui-tabs[theme='small-square'] .ui-tabs__nav-item,
ui-tabs[theme='small-square'] .ui-tabs__nav-item--active,
ui-tabs[theme='small-square'] .ui-tabs__nav-item--disabled {
    border: 1px solid var(--grey-light);
    border-left: 0;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
}

ui-tabs[theme='small-square'] .ui-tabs__nav-item--active {
    color: var(--black);
    background-color: var(--white);
    border-bottom: 3px solid var(--blue);
}

ui-tabs[theme='small-square'] .ui-tabs__nav-item:first-child,
ui-tabs[theme='small-square'] .ui-tabs__nav-item--active:first-child,
ui-tabs[theme='small-square'] .ui-tabs__nav-item--disabled:first-child {
    margin-left: 0;
    border-left: 1px solid var(--grey-light);
}

ui-tabs[theme='small-square'] .ui-tabs__nav-item,
ui-tabs[theme='small-square'] .ui-tabs__nav-item--disabled {
    background-color: var(--white-grey-light);
}

ui-tabs[theme='small-square'] .ui-tabs__nav-item {
    color: var(--blue-grey-dark);
}

ui-tabs[theme='small-square'] .ui-tabs__nav-item--disabled {
    color: var(--grey);
}
