.table {
    width: 100%;
}

.thead {
    background-color: var(--grey-light);
}

.head-cell,
.body-cell {
    padding-left: 24px;
}

.head-cell:first-child,
.body-cell:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.head-cell:last-child,
.body-cell:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.body-cell:first-child {
    border-left: 1px solid var(--grey-light);
}

.body-cell:last-child {
    border-right: 1px solid var(--grey-light);
}

.head-cell {
    height: 45px;
    vertical-align: middle;
    font-size: 12px;
    color: var(--blue-grey-dark);
}

.body-divider-cell {
    height: 8px;
}

.body-cell {
    border-top: 1px solid var(--grey-light);
    border-bottom: 1px solid var(--grey-light);
    color: var(--grey-dark);
    font-size: 14px;
    background-color: var(--white);
    height: 65px;
}

.body-row:hover .body-cell {
    background-color: var(--white-dark);
}

.table.striped .thead {
    background-color: var(--white);
}

.table.striped .body-cell,
.table.striped .head-cell {
    height: 51px;
    vertical-align: middle;
    border: 0;
    text-align: center;
    color: var(--black);
}

.table.striped .head-cell {
    font-size: 16px;
    font-weight: 600;
}

.table.striped .body-cell:first-child,
.table.striped .head-cell:first-child {
    text-align: left;
    padding-left: 10px;
}

.table.striped .body-row:hover .body-cell {
    cursor: default;
    background-color: var(--white);
}

.table.striped .body-row:nth-child(odd) .body-cell {
    background-color: var(--white-dark);
}
