@import '../base/base.css';
@import './tooltips/ui-tooltips.css';
@import './tooltip/tooltip.component.css';

.messaging--neutral,
.messaging--success,
.messaging--warning,
.messaging--alert {
    display: flex;
    width: 100%;
    height: 48px;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
}

.messaging--neutral {
    background: var(--blue);
}

.messaging--success {
    background: var(--green);
}

.messaging--warning {
    background: var(--orange);
}

.messaging--alert {
    background: var(--red);
}
