<div class="main">
    <h1>Tabs</h1>

    <section>
        <h2>Tabs Large Square</h2>

        <ui-tabs theme="large-square" [viewModel]="sandBoxViewModel"></ui-tabs>
    </section>

    <section>
        <h2>Tabs Small Square</h2>

        <ui-tabs theme="small-square" [viewModel]="sandBoxViewModel"></ui-tabs>
    </section>

    <section>
        <h2>Tabs Flat</h2>

        <ui-tabs theme="flat" [viewModel]="sandBoxViewModel"></ui-tabs>
    </section>

    <section>
        <h2>Tabs Flat With Notification</h2>

        <ui-tabs theme="flat" [viewModel]="sandBoxViewModelWithNotification"></ui-tabs>
    </section>
</div>
