<form (submit)="onSubmitForm()" class="ui-input-search__form">
    <input type="text"
       class="ui-input-search"
       [attr.placeholder]="viewModel.placeholder"
       (input)="onInputChange()"
       [(ngModel)]="viewModel.value"
       [ngModelOptions]="{standalone: true}">
    <i class="huub-material-icon ui-input-search__icon" icon="search"></i>
    <i *ngIf="viewModel.value && viewModel.value !== ''"
        (click)="onClearIconClicked()"
        class="huub-material-icon ui-input-clear__icon"
        icon="close"></i>
</form>
