@import '../../base/base.css';

ui-input-search {
    width: 100%;
    display: inline-block;
    position: relative;
}

.ui-input-search {
    text-indent: 22px;
    width: inherit;
    background: var(--white);
    color: var(--text-darker-grey);
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey);
    font-size: 14px;
    padding-left: 10px;
}

.ui-input-search::placeholder {
    color: var(--text-grey);
}

.ui-input-search[disabled] + .ui-input-search__icon {
    color: var(--text-light-grey);
}

.ui-input-search__form {
    width: inherit;
    height: inherit;
}

.ui-input-search__icon {
    display: flex;
    align-items: center;
    position: absolute;
    pointer-events: none;
    font-size: 16px;
    height: 100%;
    left: 7px;
    top: 0;
}

.ui-input-clear__icon {
    position: absolute;
    cursor: pointer;
    right: 16px;
    font-size: 8px;
    top: 16px;
}

.ui-input-search:focus {
    border-color: var(--blue);
}

.ui-input-search:focus::placeholder {
    opacity: 0;
}
