<div class="main">
    <h1>Tables</h1>

    <section>
        <h2>Regular Table</h2>

        <table class="table">
            <thead class="thead">
                <tr>
                    <td class="head-cell">ID</td>
                    <td class="head-cell">NAME</td>
                    <td class="head-cell">CREATION DATE</td>
                    <td class="head-cell">STATUS</td>
                </tr>
            </thead>
            <tbody class="tbody">
                <ng-container *ngFor="let item of tableViewModel">
                    <tr>
                        <td class="body-divider-cell" colspan="4"></td>
                    </tr>
                    <tr class="body-row">
                        <td class="body-cell">{{item.id}}</td>
                        <td class="body-cell">{{item.name}}</td>
                        <td class="body-cell">{{item.creationDate | date: 'MMM dd, yyyy'}}</td>
                        <td class="body-cell">
                            {{item.status}}
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </section>
    <section>
        <h2>Striped Table</h2>

        <table class="table striped">
            <thead class="thead">
                <tr>
                    <td class="head-cell">ID</td>
                    <td class="head-cell">NAME</td>
                    <td class="head-cell">CREATION DATE</td>
                    <td class="head-cell">STATUS</td>
                </tr>
            </thead>
            <tbody class="tbody">
                <ng-container *ngFor="let item of tableViewModel">
                    <tr class="body-row">
                        <td class="body-cell">{{item.id}}</td>
                        <td class="body-cell">{{item.name}}</td>
                        <td class="body-cell">{{item.creationDate | date: 'MMM dd, yyyy'}}</td>
                        <td class="body-cell">
                            {{item.status}}
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </section>
</div>
