@import '../../base/base.css';

ui-spinner {
    display: flex;
    width: 120px;
    max-width: 120px;
    height: 37px;
    overflow: hidden;
    position: relative;
    padding-left: 36px;
}

.ui-spinner__button,
.ui-spinner__input {
    height: inherit;
    text-align: center;
    border-color: var(--background-color-highlight-grey);
    border-width: 0.5px;
    border-style: solid;
}

.ui-spinner__button-less,
.ui-spinner__button-plus {
    position: absolute;
}

.ui-spinner__button {
    width: 36px;
    padding: 0;

    border-radius: 5px;
}

.ui-spinner__input {
    width: 48px;
    padding: 0;
    background: var(--background-color-highlight-grey);
    border-radius: 0;
}

.ui-spinner__input:focus:not(:disabled) ~ .ui-spinner__button,
ui-spinner:hover .ui-spinner__input:not(:disabled) ~ .ui-spinner__button {
    border-color: var(--blue);
}

.ui-spinner__input:focus:not(:disabled):not(.ui-spinner__input--error),
ui-spinner:hover .ui-spinner__input:not(:disabled):not(.ui-spinner__input--error) {
    border-color: var(--blue);
    background: var(--white);
}

.ui-spinner__button-less {
    left: 0;
    top: 0;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ui-spinner__button-plus {
    right: 0;
    top: 0;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.ui-spinner__button-less::after,
.ui-spinner__button-plus::after {
    display: inline-block;
}

.ui-spinner__input--error:not(:disabled) {
    border-color: var(--red);
    background: var(--white);
}

.ui-spinner__input:disabled,
.ui-spinner__button:disabled {
    opacity: 0.5;
}

.ui-spinner__button:disabled {
    background: var(--white);
}
