<input class="ui-spinner__input"
       #ctrl="ngModel"
       [(ngModel)]="value"
       [ngClass]="{'ui-spinner__input--error': hasError}"
       (keyup)="onKeyUp()"
       type="number"
       [attr.disabled]="disabled">
<button class="huub-material-icon huub-material-icon--small ui-spinner__button ui-spinner__button-less"
        icon="subtract"
        (click)="onLessButtonPressed()"
        [attr.disabled]="disabled"></button>
<button class="huub-material-icon huub-material-icon--small ui-spinner__button ui-spinner__button-plus"
        icon="add"
        (click)="onPlusButtonPressed()"
        [attr.disabled]="disabled"></button>
