<div class="main">
    <section>
        <h2>Inputs</h2>

        <div class="wrapper">
            <article>
                <h3>Input - Regular</h3>

                <input type="text" placeholder="Example" />
            </article>
            <article>
                <h3>Input - Disabled</h3>

                <input type="text" placeholder="Example" disabled />
            </article>
            <article>
                <h3>Input - Error</h3>

                <input type="text" class="form-field__input--error" placeholder="Example">
            </article>
            <article>
                <h3>Input - With Description</h3>

                <div class="form-field__container">
                    <input type="text" placeholder="Example">
                    <legend class="form-field__container-legend">Some description</legend>
                </div>
            </article>
            <article>
                <h3>Input - With Description & Error</h3>

                <div class="form-field__container">
                    <input type="text" class="form-field__input--error" placeholder="Example">
                    <legend class="form-field__container-legend">Some description</legend>
                </div>
            </article>
        </div>
    </section>
</div>
