<div class="main">
    <h1>Popup Messages</h1>

    <section>
        <h2>Success Popup</h2>

        <div>
            <button (click)="popupSuccessVisibility()">Open Success Pop Up</button>

            <ui-popup-message
                type="success"
                [viewModel]="sandboxSuccessModalViewModel">
            </ui-popup-message>
        </div>
    </section>

    <section>
        <h2>Error Popup</h2>

        <div>
            <button (click)="popupErrorVisibility()">Open Error Pop Up</button>

            <ui-popup-message
                type="error"
                [viewModel]="sandboxErrorModalViewModel">
            </ui-popup-message>
        </div>
    </section>

    <section>
        <h2>Neutral Popup</h2>

        <div>
            <button (click)="popupNeutralVisibility()">Open Neutral Pop Up</button>

            <ui-popup-message
                type="neutral"
                [viewModel]="sandboxNeutralModalViewModel">
            </ui-popup-message>
        </div>
    </section>
</div>
