@import '../base/base.css';

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: var(--font-family-medium);
    border-radius: 2px;
    padding-right: 24px;
    padding-left: 24px;
    border: 0;
    background: transparent;
    height: 37px;
    line-height: 100%;
}

button .huub-material-icon {
    font-size: 12px;
    margin-right: 10px;
}

button.large {
    font-size: 16px;
    padding-right: 48px;
    padding-left: 48px;
    height: 45px;
}

/* Generic Styles */

button.blue,
button.blue--active,
button.green,
button.green--active,
button.red,
button.red--active {
    color: var(--white);
}

/* Blue Buttons */

button.blue {
    background: var(--blue);
}

button.blue:not(:disabled):hover,
button.blue:not(:disabled):active {
    background: var(--blue-hover);
}

button.blue--active {
    background: var(--blue);
    background-blend-mode: multiply, normal;
}

/* Green Buttons */

button.green {
    background: var(--green);
}

button.green:not(:disabled):hover,
button.green:not(:disabled):active {
    background: var(--green-hover);
}

button.green--active {
    background: var(--green);
    background-blend-mode: multiply, normal;
}

/* Red Buttons */

button.red {
    background: var(--red);
}

button.red:not(:disabled):hover,
button.red:not(:disabled):active {
    background: var(--red-hover);
}

button.red--active {
    background: var(--red);
    background-blend-mode: multiply, normal;
}

/* Secondary Buttons */

button[type='secondary'] {
    background: var(--white);
    color: var(--blue);
    border-width: 1px;
    border-style: solid;
    border-color: var(--blue);
}

button[type='secondary'][role='icon'] {
    background: var(--blue);
    color: var(--white);
    padding: 0;
    width: 37px;
    height: 37px;
    border-radius: calc(37px / 2);
}

button[type='secondary'][role='icon']::after {
    display: inline-block;
    height: 37px;
    line-height: 28px;
    content: '. . .';
    font-size: 14px;
    font-weight: bold;
}

button[type='secondary']:not(:disabled):hover,
button[type='secondary']:not(:disabled):active,
button[type='secondary']:not(:disabled).secondary--active {
    background: var(--white);
    border-color: var(--blue-hover);
    color: var(--blue-hover);
}

button[type='tertiary'][color='grey'],
button[type='secondary'][color='grey'] {
    background: var(--white);
    border-color: var(--grey);
    color: var(--grey);
}

button[type='secondary'][color='red'] {
    color: var(--red);
    border-color: var(--red);
}

button[type='secondary'][color='red']:not(:disabled):hover {
    background: var(--white);
    border-color: var(--red-hover);
    color: var(--red-hover);
}

button[type='secondary'][disabled] {
    background-color: var(--background-color-highlight-grey);
    border-color: var(--background-color-highlight-grey);
}

/* Tertiary Buttons */

button[type='tertiary'] {
    height: auto;
    color: var(--blue);
    padding: 0;
}

button[type='tertiary']:not([role='icon']) {
    text-decoration: underline;
}

button[type='tertiary'][role='icon'] {
    background: var(--white);
    color: var(--text-grey);
    padding: 0;
    width: auto;
    height: 4px;
    line-height: 0;
}

button[type='tertiary'][role='icon']::after {
    display: inline-block;
    height: 4px;
    content: '. . .';
    font-size: 20px;
    font-weight: bold;
}

button[type='tertiary']:not(:disabled):hover,
button[type='tertiary']:not(:disabled):active,
button[type='tertiary']:not(:disabled).tertiary--active {
    color: var(--blue-hover);
}

button[type='tertiary'][disabled] {
    background: transparent;
}

/* Generic Disable */
button[disabled] {
    background: var(--background-color-highlight-grey);
    color: var(--text-light-grey);
}
