.wrapper-iconography {
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

@media screen and (min-width: 900px) {
    .wrapper-iconography { grid-template-columns: repeat(4, 1fr) }
}

@media screen and (min-width: 1200px) {
    .wrapper-iconography { grid-template-columns: repeat(8, 1fr) }
}

.wrapper-iconography > div {
    padding: 10px;
    border: 1px dashed rgba(0,0,0,0.2)
}

.wrapper-iconography i {
    font-size: 30px;
}

.icon-label {
    padding-top: 10px;
}
