<div class="main">
    <section>
        <h1>Iconography</h1>

        <div class="wrapper-iconography">
            <div>
                <i class="huub-material-icon" icon="triangle"></i>
                <div class="icon-label">icon="triangle"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="triangle-left"></i>
                <div class="icon-label">icon="triangle-left"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="add-circle"></i>
                <div class="icon-label">icon="add-circle"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="profile"></i>
                <div class="icon-label">icon="profile"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="upload"></i>
                <div class="icon-label">icon="upload"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="box-edit"></i>
                <div class="icon-label">icon="box-edit"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="close-circle"></i>
                <div class="icon-label">icon="close-circle"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="trash-can"></i>
                <div class="icon-label">icon="trash-can"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="arrow-left"></i>
                <div class="icon-label">icon="arrow-left"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="arrow-right"></i>
                <div class="icon-label">icon="arrow-right"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="locked"></i>
                <div class="icon-label">icon="locked"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="unlocked"></i>
                <div class="icon-label">icon="unlocked"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="leaf"></i>
                <div class="icon-label">icon="leaf"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="document"></i>
                <div class="icon-label">icon="document"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="bullet"></i>
                <div class="icon-label">icon="bullet"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="thunder"></i>
                <div class="icon-label">icon="thunder"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="circle-empty"></i>
                <div class="icon-label">icon="circle-empty"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="circle-checked"></i>
                <div class="icon-label">icon="circle-checked"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="star"></i>
                <div class="icon-label">icon="star"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="filter"></i>
                <div class="icon-label">icon="filter"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="arrow-up"></i>
                <div class="icon-label">icon="arrow-up"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="arrow-down"></i>
                <div class="icon-label">icon="arrow-down"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="check"></i>
                <div class="icon-label">icon="check"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="chevron-down"></i>
                <div class="icon-label">icon="chevron-down"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="chevron-up"></i>
                <div class="icon-label">icon="chevron-up"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="chevron-right"></i>
                <div class="icon-label">icon="chevron-right"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="chevron-left"></i>
                <div class="icon-label">icon="chevron-left"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="error"></i>
                <div class="icon-label">icon="error"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="search"></i>
                <div class="icon-label">icon="search"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="calendar"></i>
                <div class="icon-label">icon="calendar"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="close"></i>
                <div class="icon-label">icon="close"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="info"></i>
                <div class="icon-label">icon="info"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="notification"></i>
                <div class="icon-label">icon="notification"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="pause"></i>
                <div class="icon-label">icon="pause"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="play"></i>
                <div class="icon-label">icon="play"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="redo"></i>
                <div class="icon-label">icon="redo"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="subtract"></i>
                <div class="icon-label">icon="subtract"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="upload"></i>
                <div class="icon-label">icon="upload"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="add"></i>
                <div class="icon-label">icon="add"</div>
            </div>

            <div>
                <i class="huub-material-icon" icon="merge"></i>
                <div class="icon-label">icon="merge"</div>
            </div>
        </div>
    </section>
</div>
