h1,
h2,
h3,
h4,
p,
small {
    color: var(--text-dark-grey);
}

small.blue-grey {
    color: var(--blue-grey);
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3,
p {
    font-size: 16px;
}

h4,
small {
    font-size: 12px;
}

[bolder] {
    font-family: var(--font-family-bold);
}

[regular] {
    font-weight: normal;
}

p[small] {
    font-size: 14px;
    font-weight: normal;
}
