<div class="main">
    <section>
        <h1>Button Actions</h1>

        <div class="wrapper">
            <div>
                <ui-button-actions [viewModel]="urlsList"></ui-button-actions>
            </div>
            <div>
                <ui-button-actions [type]="'secondary'" [viewModel]="urlsList"></ui-button-actions>
            </div>
        </div>
    </section>
</div>
