<div class="main">
    <section>
        <h2>Search input</h2>

        <ui-input-search
            [viewModel]="inputSearchViewModel"
            (onSubmit)="onFormSubmited($event)"
            (onChange)="onInputChange($event)">
        </ui-input-search>
    </section>
</div>
