.ui-copy-input-area {
    cursor: pointer;
    text-overflow: ellipsis;
}

.ui-copy-input__wrapper {
    position: relative;
}

.ui-copy-input__blocker {
    width: 100%;
    height: 40px;
    position: absolute;
    background-color: transparent;
}

.ui-copy-input-area__editing {
    cursor: auto;
    padding-right: 74px;
}

.currency-wrapper {
    height: auto;
    padding: 0;
    margin: 0;
}

.ui-copy-input-tooltip {
    border-radius: 2px;
    position: absolute;
    width: auto;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    align-items: center;
    font-size: 14px;
    color: var(--white);
    background-color: var(--blue-grey-dark);
    margin-top: 20px;
    transform: translateX(-50%);
    z-index: 2;
}

.ui-copy-input__edit {
    color: var(--blue);
    cursor: pointer;
    font-size: 12px;
}

.ui-copy-input__label {
    font-size: 12px;
    color: var(--blue-grey-dark);
    margin-right: 8px;
}

.ui-copy-input__edit-buttons {
    display: flex;
    margin-top: -36px;
    padding-bottom: 4px;
    justify-content: flex-end;
}

.ui-copy-input__edit-buttons.currency {
    margin-top: -55px;
}

.ui-copy-input__edit-button {
    height: 32px;
    width: 32px;
    border: 1px solid var(--grey);
    background-color: var(--white);
    border-radius: 1px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}
