<div class="ui-copy-input">
    <span class="ui-copy-input__label" *ngIf="label">
        {{label.value}} <ui-tooltips *ngIf="label.tooltipViewModel" [viewModel]="label.tooltipViewModel"></ui-tooltips>
    </span>
    <span class="ui-copy-input__edit" *ngIf="editable" (click)="edit()">{{viewModel.editText}}</span>
    <div class="ui-copy-input__wrapper" (mouseenter)="showTooltip($event)" (mousemove)="showTooltip($event)"
        (mouseleave)="showTooltip()" (click)="copy($event)">
        <div *ngIf="!isEditing" class="ui-copy-input__blocker"></div>
        <input *ngIf="!isTypeCurrency" type="text" class="ui-copy-input-area"
            [ngClass]="{'ui-copy-input-area__editing': isEditing}" [attr.placeholder]="placeholder"
            (input)="onInputChange()" [(ngModel)]="value" [ngModelOptions]="{standalone: true}" [disabled]="disabled">
        <ui-currency-input *ngIf="isTypeCurrency" [currency]="currency" [placeholder]="placeholder"
            (onChange)="onInputChange($event)" [value]="value" [disabled]="disabled">
        </ui-currency-input>
    </div>
    <div *ngIf="isEditing" class="ui-copy-input__edit-buttons">
        <div class="ui-copy-input__edit-button" (click)="save()"><i class="huub-material-icon" icon="check"
                size="extra-small" color="green"></i></div>
        <div class="ui-copy-input__edit-button" (click)="discard()"><i class="huub-material-icon" icon="close"
                size="extra-small" color="red"></i></div>
    </div>
    <div *ngIf="!isEditing && isTooltipActive" class="ui-copy-input-tooltip"
        [ngStyle]="{left:field.left, top:field.top}">
        <div *ngIf="!isCopied">{{viewModel.tooltipTextBeforeCopy}}</div>
        <div *ngIf="isCopied"><i class="huub-material-icon" icon="check" size="extra-extra-small"></i>
            {{viewModel.tooltipTextAfterCopy}}
        </div>
    </div>
</div>