<div class="ui-filter__container">
    <i class="huub-material-icon ui-filter__icon" size="extra-extra-small" icon="filter"
       (click)="toggleOptionContainerVisibility()"></i>
    <span class="ui-filter__text"
          (click)="toggleOptionContainerVisibility()">{{viewModel.filterText}}</span>
    <i class="huub-material-icon ui-filter__icon"
        icon="chevron-down"
        size="extra-extra-small"
        [ngClass]="{
            'ui-filter__icon__tune': optionContainerIsVisible
        }"
       (click)="toggleOptionContainerVisibility()"></i>

    <div class="ui-filter__options-container"
        [ngClass]="{
            'ui-filter__options-container--visible': optionContainerIsVisible,
            'ui-filter__options-container--right': alignRight,
            'ui-filter__options-container--left': alignLeft
        }">
        <ng-container *ngIf="optionContainerIsVisible">
            <select class="ui-filter__select"
                    (change)="onSelectChange(viewModel.selectBox, $event.target.value)">
                <option *ngFor="let option of viewModel.selectBox; let index = index; trackBy: trackByFn"
                        value="{{index}}">{{option.text}}</option>
            </select>

            <select *ngIf="selectedOptions.length > 0"
                    class="ui-filter__select"
                    (change)="onSecondarySelectChange(selectedOptions, $event.target.value)">
                <option *ngFor="let option of selectedOptions; let index = index; trackBy: trackByFn"
                        value="{{index}}">{{option.text}}</option>
            </select>
        </ng-container>

        <button *ngIf="shouldShowSaveButton()"
                type="secondary" class="ui-filter__button"
                (click)="onSaveButtonClick()">{{viewModel.buttonText}}</button>
    </div>
</div>
