@import '../base/base.css';

ui-filter {
    display: inline-block;
}

.ui-filter__container {
    position: relative;
    display: flex;
    width: auto;
    align-items: center;
    padding: 0;
    height: 37px;
}

.ui-filter__text,
.ui-filter__icon {
    font-size: 14px;
    cursor: pointer;
}

.ui-filter__icon {
    transition: transform 0.2s ease-in-out;
    margin-left: 5px;
}

.ui-filter__icon:first-child {
    margin-right: 5px;
    margin-left: 0;
}

.ui-filter__icon__tune {
    transform: rotate(180deg);
}

.ui-filter__container:hover {
    color: var(--blue);
}

.ui-filter__text {
    font-weight: bold;
}

.ui-filter__options-container {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 33px;
    padding: 20px;
    min-width: 300px;
    z-index: 1;

    box-shadow: var(--box-shadow);
    background: var(--white);

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-width: 10px;
    border-top-style: solid;
    border-top-color: transparent;
}

.ui-filter__options-container--visible {
    display: flex;
}

.ui-filter__options-container--right {
    left: 0;
}

.ui-filter__options-container--left {
    right: 0;
}

.ui-filter__select {
    margin-bottom: 16px;
}

.ui-filter__button {
    align-self: flex-end;
}
