<div class="main">
    <section>
        <h1>Typography</h1>

        <div class="wrapper-typography">
            <article>
                <h2 bolder>
                    Avenir Next W05 Bold
                    <br>
                    <span>var(--font-family-bold)</span>
                </h2>

                <h1 bolder>H1 Bolder Example Text</h1>
                <h2 bolder>H2 Bolder Example Text</h2>
                <h3 bolder>H3 Bolder Example Text</h3>
                <h4 bolder>H4 Bolder Example Text</h4>
                <p bolder>P Bolder Example Text</p>
                <p small bolder>P SMALL Bolder Example Text</p>
                <p>---------</p>
            </article>

            <article>
                <h2>
                    Avenir Next W05 Regular
                    <br>
                    <span>var(--font-family-regular) / font-weight: 700</span>
                </h2>

                <h1>H1 Bold Example Text</h1>
                <h2>H2 Bold Example Text</h2>
                <h3>H3 Bold Example Text</h3>
                <h4>H4 Bold Example Text</h4>
                <p>P Bold Example Text</p>
                <p>---------</p>
                <p><small>SMALL Bold Example Text</small></p>
            </article>

            <article>
                <h2 regular>
                    Avenir Next W05 Regular
                    <br>
                    <span>var(--font-family-regular) / font-weight: 700</span>
                </h2>

                <h1 regular>H1 Regular Example Text</h1>
                <h2 regular>H2 Regular Example Text</h2>
                <h3 regular>H3 Regular Example Text</h3>
                <h4 regular>H4 Regular Example Text</h4>
                <p regular>P Regular Example Text</p>
                <p small regular>P SMALL Regular Example Text</p>
                <p>---------</p>
            </article>
        </div>
    </section>
</div>
