.wrapper-typography {
    display: grid;
    grid-gap: 20px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 900px) {
    .wrapper-typography { grid-template-columns: repeat(3, 1fr) }
}


article {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 100px repeat(7, auto);
}

article h2:first-of-type span{
    font-size: 14px;
    opacity: .7;
}
