.ui-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.ui-tooltip__arrow,
.ui-tooltip__container {
    visibility: hidden;
    position: absolute;
}

.ui-tooltip:hover .ui-tooltip__container,
.ui-tooltip:hover .ui-tooltip__arrow {
    visibility: visible;
    display: block;
}

.ui-tooltip__arrow {
    left: 3px;
    top: 27px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: transparent;
    border-right-width: 5px;
    border-right-style: solid;
    border-right-color: transparent;
    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-bottom-color: var(--blue-grey-dark);
}

.ui-tooltip__container {
    text-align: left;
    width: max-content;
    max-width: 300px;
    top: 34px;
    padding: 12px;
    border-radius: 2px;
    background-color: var(--blue-grey-dark);
    color: var(--white);
    z-index: 2;
}

.ui-tooltip__container--center {
    transform: translateX(-42%);
}

.ui-tooltip__container--left {
    right: 0;
}

.ui-tooltip__container--right {
    left: 0;
}

.ui-tooltip__title {
    font-weight: bold;
}

.ui-tooltip__message {
    font-size: 12px;
}
