<div class="ui-tooltip" (mouseover)="onTooltipShow()">
    <i class="huub-material-icon"
       [attr.size]="viewModel.size"
       [attr.icon]="viewModel.icon"
       [attr.color]="viewModel.color"></i>
    <div class="ui-tooltip__arrow" [ngClass]="{ 'ui-tooltip__arrow-left': alignLeft && !alignRight }"></div>
    <div class="ui-tooltip__container"
         [ngClass]="{
            'ui-tooltip__container--left': alignLeft && !alignRight,
            'ui-tooltip__container--right': alignRight && !alignLeft,
            'ui-tooltip__container--center': alignLeft && alignRight
        }">
        <div *ngIf="viewModel.title" class="ui-tooltip__title">
            {{viewModel.title}}
        </div>
        <div class="ui-tooltip__message" [innerHTML]="viewModel.text"></div>
    </div>
</div>
