<div class="main">
    <section>
        <h2>Checkboxes</h2>

        <div class="wrapper">
            <article>
                <h3>Checkbox - Normal</h3>

                <input type="checkbox" class="huub-material-icon">
            </article>
            <article>
                <h3>Checkbox - Checked</h3>

                <input type="checkbox" class="huub-material-icon" checked>
            </article>
            <article>
                <h3>Checkbox - Disabled</h3>

                <input type="checkbox" class="huub-material-icon" disabled>
            </article>
            <article>
                <h3>Checkbox - Disabled - Checked</h3>

                <input type="checkbox" class="huub-material-icon" disabled checked>
            </article>
            <article>
                <h3>Checkbox Indeterminate - Normal</h3>

                <ui-checkbox-indeterminate status="indeterminate"></ui-checkbox-indeterminate>
            </article>
            <article>
                <h3>Checkbox Indeterminate - Disabled</h3>

                <ui-checkbox-indeterminate status="checked" [disabled]="true"></ui-checkbox-indeterminate>
            </article>
            <article>
                <h3>Checkbox - Toogle</h3>

                <input type="checkbox" class="toggle">
            </article>
            <article>
                <h3>Checkbox - Toogle - Checked</h3>

                <input type="checkbox" class="toggle" checked>
            </article>
            <article>
                <h3>Checkbox - Toogle - Disabled</h3>

                <input type="checkbox" class="toggle" disabled>
            </article>
        </div>
    </section>
</div>
