@import '../../base/base.css';

.ui-date-picker {
    position: relative;
}

.ui-date-picker__calendar-visible .ui-date-picker__input,
.ui-date-picker__calendar-visible .ui-date-picker__hideborders,
.ui-date-picker__calendar-visible .ui-date-picker__calendar {
    border-color: var(--blue);
}

.ui-date-picker__calendar-visible .ui-date-picker__hideborders {
    border-bottom-color: var(--white);
}

.ui-date-picker__days,
.ui-date-picker__calendar {
    width: 100%;
}

.ui-date-picker__button {
    z-index: 5;
}

.ui-date-picker__button[disabled] {
    background-color: inherit;
}

.ui-date-picker__button .huub-material-icon {
    margin: 0;
    font-size: 18px;
}

.ui-date-picker__hideborders,
.ui-date-picker__button {
    position: absolute;
    right: 6px;
    top: 0;
    padding: 0;
    color: var(--blue);
    height: 100%;
}

.ui-date-picker__hideborders,
.ui-date-picker__calendar {
    background: var(--white);
    border-width: 1px;
    border-style: solid;
    border-color: var(--text-light-grey);
}

.ui-date-picker__hideborders {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 36px;
    border-bottom-color: var(--white);
    border-top-right-radius: 2px;
    z-index: 4;
}

.ui-date-picker__calendar {
    min-width: 327px;
    z-index: 3;
    position: absolute;
    top: 35px;
    color: var(--text-light-grey);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ui-date-picker__backward,
.ui-date-picker__forward {
    color: var(--black);
}

.ui-date-picker__days {
    color: var(--blue);
}

.ui-date-picker__days-list-container {
    padding-left: 12px;
    padding-right: 12px;
}

.ui-date-picker__days-list {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.ui-date-picker__days-line {
    height: 38px;
}

.ui-date-picker__month-year {
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ui-date-picker__actual-month-year {
    min-width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--text-dark-grey);
}

.ui-date-picker__week-days {
    color: var(--blue-grey-dark);
}

.ui-date-picker__day {
    position: relative;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    border-radius: 50%;
}

.ui-date-picker__day[disabled]:not(.ui-date-picker__day--selected) {
    background: transparent;
}

.ui-date-picker__day:hover:not(.ui-date-picker__day--selected) {
    background-color: var(--background-color-highlight-grey);
}

.ui-date-picker__day--selected {
    background-color: var(--blue);
    color: var(--white);
}

.ui-date-picker__bottom-message {
    color: var(--blue-grey-dark);
    text-align: left;
    padding-left: 4%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ui-date-picker__calendar--right {
    left: 0;
}

.ui-date-picker__calendar--left {
    right: 0;
}

.ui-date-picker__day-bullet__tooltip {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    height: 30px;
    border-radius: 2px;
    color: var(--white);
    background-color: var(--blue-grey-dark);
    white-space: nowrap;
    font-size: 12px;
    z-index: 1;
    bottom: -40px;
}

.ui-date-picker__day-bullet {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--blue-grey);
    position: absolute;
    bottom: -6px;
    cursor: pointer;
}

.ui-date-picker__day-bullet:hover + .ui-date-picker__day-bullet__tooltip {
    display: flex;
}
