<div class="ui-date-picker"
     [ngClass]="{
         'ui-date-picker__calendar-visible': calendarIsVisible
     }">
    <input class="ui-date-picker__input"
           type="text"
           placeholder="{{placeholder}}"
           [disabled]="disable"
           [(ngModel)]="selectedDate"
           (keyup)="onInputChanged()"
           [ngClass]="{
                'form-field__input--error': isInvalidDate
            }">
    <button class="ui-date-picker__button"
            (click)="calendarToggleVisibility()"
            [disabled]="disable">
        <i class="huub-material-icon" icon="calendar"></i>
    </button>

    <div class="ui-date-picker__hideborders"
         *ngIf="calendarIsVisible"
         (click)="calendarToggleVisibility()">
    </div>

    <div class="ui-date-picker__calendar"
        *ngIf="calendarIsVisible"
        [ngClass]="{
            'ui-date-picker__calendar--right': alignRight,
            'ui-date-picker__calendar--left': alignLeft
        }">

        <div class="ui-date-picker__month-year">
            <button (click)="subtractMonth()">
                <i class="huub-material-icon ui-date-picker__backward" icon="chevron-left" size="extra-small"></i>
            </button>
            <div class="ui-date-picker__actual-month-year">
                {{monthNames[month - 1]}} {{year}}
            </div>
            <button (click)="addMonth()">
                <i class="huub-material-icon ui-date-picker__forward" icon="chevron-right" size="extra-small"></i>
            </button>
        </div>

        <div class="ui-date-picker__days-list-container">
            <table class="ui-date-picker__days-list">
                <thead class="ui-date-picker__week-days">
                    <tr>
                        <td *ngFor="let weekday of weekDays">
                            {{weekday}}
                        </td>
                    </tr>
                </thead>
                <tbody class="ui-date-picker__days">
                    <tr class="ui-date-picker__days-line"
                        *ngFor="let dayOfMonthSet of daysOfMonth; let i = index">
                       <td *ngFor="let dayNumber of daysOfMonth[i]">
                            <button class="ui-date-picker__day"
                                 *ngIf="dayNumber !== ''"
                                 [disabled]="isDateDisabled(dayNumber)"
                                 [ngClass]="{
                                    'ui-date-picker__day--selected': isSelectedDate(dayNumber)
                                  }"
                                 (click)="onSelectedDate(dayNumber)">
                             {{dayNumber}}
                                <ng-container *ngIf="dateHasBullet(dayNumber)">
                                    <i class="ui-date-picker__day-bullet"></i>

                                    <span class="ui-date-picker__day-bullet__tooltip"
                                        *ngIf="getBulletTooltip(dayNumber) != ''">
                                        {{getBulletTooltip(dayNumber)}}</span>
                                </ng-container>
                            </button>
                       </td>
                    </tr>
                    <tr *ngIf="bottomLabel !== ''">
                        <td [attr.colspan]="weekDays.length" class="ui-date-picker__bottom-message">
                            {{bottomLabel}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
