:root {
    --black-rgb: var(--black-spoke-rgb);
    --black-spoke-rgb: 26, 26, 26;
    --black-spoke: #1a1a1a;
    --black: var(--black-spoke);

    --blue-dark: #000080;
    --blue-grey-dark-rgb: var(--grey-50-rgb);
    --blue-grey-dark: var(--grey-50);
    --blue-grey-light-rgb: var(--grey-30-rgb);
    --blue-grey-light: var(--grey-30);
    --blue-grey-rgb: var(--grey-40-rgb);
    --blue-grey: var(--grey-40);
    --blue-hover-rgb: 26, 117, 255;
    --blue-hover: #1a75ff;
    --blue-light-rgb: 229, 240, 255;
    --blue-light: #e5f0ff;
    --blue-lighter-rgb: 249, 252, 255;
    --blue-lighter: #f9fcff;
    --blue-rgb: 0, 102, 255;
    --blue: #007aff;

    --green-gradient: linear-gradient(90deg, #7ce0e0, var(--green));
    --green-hover-rgb: 59, 225, 176;
    --green-hover: #3be1b0;
    --green-light-rgb: 210, 250, 236;
    --green-light: #d2faec;
    --green-rgb: 31, 216, 161;
    --green: #1fd8a1;

    --grey-5-rgb: 247, 248, 249;
    --grey-5: #f7f8f9;
    --grey-10-rgb: 241, 243, 245;
    --grey-10: #f1f3f5;
    --grey-20-rgb: 228, 231, 235;
    --grey-20: #e4e7eb;
    --grey-30-rgb: 198, 206, 213;
    --grey-30: #c6ced5;
    --grey-40-rgb: 159, 171, 181;
    --grey-40: #9fabb5;
    --grey-50-rgb: 112, 123, 130;
    --grey-50: #707b82;
    --grey-dark-light-rgb: var(--grey-dark-rgb);
    --grey-dark-light: var(--grey-dark);
    --grey-dark-rgb: var(--grey-darker-rgb);
    --grey-dark: var(--grey-darker);
    --grey-darker-rgb: 50, 50, 50;
    --grey-darker: #323232;
    --grey-gradient: linear-gradient(to bottom, var(--white) 0%, var(--text-grey) 100%);
    --grey-light-rgb: var(--grey-10-rgb);
    --grey-light: var(--grey-10);
    --grey-medium-rgb: var(--grey-50-rgb);
    --grey-medium: var(--grey-50);
    --grey-rgb: var(--grey-20-rgb);
    --grey: var(--grey-20);
    --mine-shaft: #323232;

    --orange-gradient: linear-gradient(90deg, #ffcb66, var(--orange));
    --orange-hover-rgb: 255, 148, 84;
    --orange-hover: #ff9454;
    --orange-light-rgb: 255, 235, 202;
    --orange-light: #ffebca;
    --orange-rgb: 255, 136, 65;
    --orange: #ff8841;

    --red-gradient: linear-gradient(90deg, #ffa5a3, var(--red));
    --red-hover-rgb: 255, 124, 121;
    --red-hover: #ff7c79;
    --red-light-rgb: 251, 221, 221;
    --red-light: #fbdddd;
    --red-rgb: 254, 102, 99;
    --red: #fe6663;

    --white-dark-rgb: var(--white-grey-rgb);
    --white-dark: var(--white-grey);
    --white-grey-light-rgb: var(--white-grey-rgb);
    --white-grey-light: var(--white-grey);
    --white-grey-rgb: 248, 249, 250;
    --white-grey: #f8f9fa;
    --white-rgb: 255, 255, 255;
    --white-light: #fefefe;
    --white: #ffffff;

    --yellow-hover-rgb: var(--yellow-rgb);
    --yellow-hover: var(--yellow);
    --yellow-light-rgb: 255, 244, 217;
    --yellow-light: #fff4d9;
    --yellow-rgb: 255, 202, 65;
    --yellow: #ffca41;

    --box-shadow-wide: 0px 4px 40px rgba(var(--text-grey-rgb), 0.25);
    --box-shadow: 0px 5px 15px -4px var(--text-darker-grey);

    --background-color-highlight-grey-rgb: var(--grey-40-rgb);
    --background-color-highlight-grey: var(--grey-20);
    --background-color-light-grey-rgb: var(--grey-40-rgb);
    --background-color-light-grey: var(--white-grey);
    --background-color-white-rgb: var(--white-rgb);
    --background-color-white: var(--white);

    --font-family-bold: 'Avenir Next W05 Bold';
    --font-family-light: 'Avenir Next W05 Light';
    --font-family-medium: 'Avenir Next W05 Medium';
    --font-family-regular: 'Avenir Next W05 Regular';

    --text-dark-grey-rgb: var(--grey-dark-rgb);
    --text-dark-grey: var(--grey-dark);
    --text-darker-grey-rgb: var(--grey-dark-rgb);
    --text-darker-grey: var(--grey-dark);
    --text-grey-rgb: var(--grey-50-rgb);
    --text-grey: var(--grey-50);
    --text-light-grey-rgb: var(--grey-40-rgb);
    --text-light-grey: var(--grey-40);
    --text-white-rgb: var(--white-rgb);
    --text-white: var(--white);
}
