@import '../base/base.css';

.ui-modal {
    background-color: var(--white);
}

.ui-modal__content {
    box-shadow: var(--box-shadow-wide);
}

.ui-modal__header {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ui-modal__body {
    padding: 0 25px 25px;
}

.ui-modal__header-button {
    padding: 0;
    height: initial;
    cursor: pointer;
}

.ui-modal__header-button .huub-material-icon {
    font-size: 16px;
    margin: 0;
}
