<div class="ui-modal">
    <div class="ui-modal__content">
        <div class="ui-modal__header">
            <h2 class="ui-modal__header-title">{{viewModel.title}}</h2>
            <button class="ui-modal__header-button" (click)="closeModal()">
                <i class="huub-material-icon" icon="close"></i>
           </button>
        </div>
        <div class="ui-modal__body">
            <ng-template #childrenContainer></ng-template>
        </div>
    </div>
</div>
