@import '../base/base.css';

.ui-popup,
.ui-popup__overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.ui-popup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-popup__overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    animation-name: fadeIn;
    animation-duration: 1s;
}

.ui-popup__overlay--visible {
    display: block;
}

.ui-popup__content {
    z-index: 2;
    background-color: var(--background-color-highlight-grey);
    animation-name: fadeIn;
    animation-duration: 1s;
    width: 662px;
    box-shadow: var(--box-shadow);
    border-top-width: 12px;
    border-top-style: solid;
    border-top-color: var(--blue);
}

.ui-popup__header,
.ui-popup__footer {
    background-color: var(--white);
    padding: 25px;
    display: flex;
    justify-content: center;
}

.ui-popup__body {
    background-color: var(--white);
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    align-items: center;
    color: var(--text-darker-grey);
}

.ui-popup__header-title {
    margin: 0;
}

.ui-popup--visible {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-popup__cancel {
    margin-right: 46px;
}

ui-popup-message .ui-popup__content {
    border-top-color: var(--blue);
}

ui-popup-message button[type='secondary'] {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white);
}

ui-popup-message button[type='secondary']:hover {
    background-color: var(--blue-light);
    border-color: var(--blue-light);
    color: var(--white);
}

ui-popup-message button[type='tertiary'] {
    color: var(--blue-grey-dark);
}

ui-popup-message button[type='tertiary']:hover {
    color: var(--blue-grey);
}

ui-popup-message[type='error'] .ui-popup__content {
    border-top-color: var(--red);
}

ui-popup-message[type='error'] button[type='secondary'] {
    background-color: var(--red);
    border-color: var(--red);
    color: var(--white);
}

ui-popup-message[type='error'] button[type='secondary']:hover {
    background-color: var(--red-light);
    border-color: var(--red-light);
    color: var(--white);
}

ui-popup-message[type='success'] .ui-popup__content {
    border-top-color: var(--green);
}

ui-popup-message[type='success'] button[type='secondary'] {
    background-color: var(--green);
    border-color: var(--green);
    color: var(--white);
}

ui-popup-message[type='success'] button[type='secondary']:hover {
    background-color: var(--green-light);
    border-color: var(--green-light);
    color: var(--white);
}
