<div class="ui-popup" *ngIf="viewModel.isVisible">
    <div class="ui-popup__overlay ui-popup__overlay--visible"
         (click)="hidePopup()">
    </div>
    <div class="ui-popup__content">
        <div class="ui-popup__header">
            <h2 class="ui-popup__header-title">{{viewModel.title}}</h2>
        </div>
        <div class="ui-popup__body" [innerHTML]="viewModel.message"></div>
        <div class="ui-popup__footer">
            <button *ngIf="viewModel.cancel.button_text!== ''"
                    type="tertiary"
                    class="ui-popup__cancel"
                    (click)="onButtonClicked(viewModel.cancel)">
                {{viewModel.cancel.button_text}}
            </button>
            <button  *ngIf="viewModel.submit.button_text!== ''"
                     type="secondary"
                     (click)="onButtonClicked(viewModel.submit)">
                {{viewModel.submit.button_text}}
            </button>
        </div>
    </div>
</div>
