@import '../fonts/fonts.css';
@import '../../../node_modules/normalizecss/normalize.css';
@import '../variables/variables.css';
@import '../../../node_modules/@angular/cdk/overlay-prebuilt.css';

* {
    outline: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html,
body {
    font-family: var(--font-family-regular), var(--font-family-medium), var(--font-family-light),
        var(--font-family-bold), sans-serif;
    font-size: 16px;
    color: var(--text-grey);
}

ul,
ol,
li {
    list-style: none;
}
