<div class="main">
    <h1>Tooltips</h1>

    <section>
        <h2>Tooltip - Directive</h2>

        <button overlayTooltip="Greetings people of Earth">Button</button>
    </section>

    <div class="wrapper">
        <section>
            <h2>Tooltip - Regular</h2>

            <ui-tooltips [viewModel]="tooltipViewModel"></ui-tooltips>
        </section>
        <section>
            <h2>Tooltip - Error</h2>

            <ui-tooltips [viewModel]="redErrorTooltipViewModel"></ui-tooltips>
        </section>

        <section>
            <h2>Tooltip - No Title</h2>

            <ui-tooltips [viewModel]="tooltipWithNoTitleViewModel"></ui-tooltips>
        </section>

        <section>
            <h2>Tooltip - Small Text</h2>

            <ui-tooltips [viewModel]="tooltipSmallTextViewModel"></ui-tooltips>
        </section>
    </div>

    <section>
        <h2>Tooltip - Window Edge Test</h2>

        <div class="tooltip-line">
            <ui-tooltips [viewModel]="tooltipViewModel"></ui-tooltips>
            <ui-tooltips [viewModel]="redErrorTooltipViewModel"></ui-tooltips>
            <ui-tooltips [viewModel]="tooltipWithNoTitleViewModel"></ui-tooltips>
            <ui-tooltips [viewModel]="tooltipSmallTextViewModel"></ui-tooltips>
            <ui-tooltips [viewModel]="tooltipViewModel"></ui-tooltips>
            <ui-tooltips [viewModel]="redErrorTooltipViewModel"></ui-tooltips>
            <ui-tooltips [viewModel]="tooltipWithNoTitleViewModel"></ui-tooltips>
            <ui-tooltips [viewModel]="tooltipSmallTextViewModel"></ui-tooltips>
        </div>
    </section>
</div>
