@import 'icon-fonts.css';

@font-face {
    font-family: 'Avenir Next W05 Bold';
    src: url('33b5fc3f-3be1-45d1-bc29-6a9286da6f8e.eot');
    src: url('33b5fc3f-3be1-45d1-bc29-6a9286da6f8e.eot') format('eot'),
        url('750e110a-c47f-4c8f-829a-b56cc20cc51d.woff2') format('woff2'),
        url('f3420df8-1310-4059-9207-e82b1c9dd3a5.woff') format('woff'),
        url('9d614368-aa4e-48a6-856a-c89ac91e6a35.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir Next W05 Light';
    src: url('f1ca9e98-c8c2-480f-a2a3-a29853a558ea.eot');
    src: url('f1ca9e98-c8c2-480f-a2a3-a29853a558ea.eot') format('eot'),
        url('77156710-6a58-4606-b189-b4185e75967b.woff2') format('woff2'),
        url('3d5260a1-e4cd-4567-80ed-69d23c40355f.woff') format('woff'),
        url('b1d8a86f-0052-4e40-8c11-4ac9dc89b380.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir Next W05 Medium';
    src: url('a7d3bd64-119b-40ad-985c-a50776f2ae49.eot');
    src: url('a7d3bd64-119b-40ad-985c-a50776f2ae49.eot') format('eot'),
        url('9851da0a-2481-4687-bbeb-ed4ab170dc38.woff2') format('woff2'),
        url('cebce072-9561-4c6d-8c89-f0cefec63289.woff') format('woff'),
        url('8d00a64e-2d77-46b1-8804-6012868d61c9.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir Next W05 Regular';
    src: url('a39bd16a-119f-4e92-824f-eb6cc6b3f567.eot');
    src: url('a39bd16a-119f-4e92-824f-eb6cc6b3f567.eot') format('eot'),
        url('77caabd3-1877-4634-85c8-8e398a093b99.woff2') format('woff2'),
        url('e388ac99-8c6a-4451-8690-1d15b4d45adb.woff') format('woff'),
        url('8900c86a-b226-4db5-a4ff-eadf7379c504.ttf') format('truetype');
}
