@font-face {
    font-family: 'Huub Material Icon';
    font-display: block;
    font-style: normal;
    font-weight: normal;
    src: url('HuubMaterialFont.eot');
    src: url('HuubMaterialFont.eot') format('embedded-opentype'), url('HuubMaterialFont.ttf') format('truetype'),
        url('HuubMaterialFont.woff') format('woff'), url('HuubMaterialFont.svg') format('svg');
}

.huub-material-icon {
    font-family: 'Huub Material Icon';
    font-weight: normal;
    font-style: normal;
    font-size: 18px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    speak: none;
    font-variant: normal;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* ALTERNATIVE SIZES */

.huub-material-icon[size='large'] {
    font-size: 32px;
}

.huub-material-icon[size='medium'] {
    font-size: 24px;
}

.huub-material-icon[size='small'] {
    font-size: 16px;
}

.huub-material-icon[size='extra-small'] {
    font-size: 14px;
}

.huub-material-icon[size='extra-extra-small'] {
    font-size: 12px;
}

/* COLORS */

.huub-material-icon[color='blue'] {
    color: var(--blue);
}

.huub-material-icon[color='red'] {
    color: var(--red);
}

.huub-material-icon[color='blue-grey-dark'] {
    color: var(--blue-grey-dark);
}

.huub-material-icon[color='green'] {
    color: var(--green);
}

/* ICONS */

.huub-material-icon[icon='triangle']:before {
    content: '\e915';
}

.huub-material-icon[icon='triangle-left']:before {
    content: '\e922';
}

.huub-material-icon[icon='add-circle']:before {
    content: '\e923';
}

.huub-material-icon[icon='profile']:before {
    content: '\e924';
}

.huub-material-icon[icon='upload']:before {
    content: '\e90e';
}

.huub-material-icon[icon='box-edit']:before {
    content: '\e91d';
}

.huub-material-icon[icon='close-circle']:before {
    content: '\e91e';
}

.huub-material-icon[icon='trash-can']:before {
    content: '\e91f';
}

.huub-material-icon[icon='arrow-left']:before {
    content: '\e920';
}

.huub-material-icon[icon='arrow-right']:before {
    content: '\e921';
}

.huub-material-icon[icon='locked']:before {
    content: '\e91c';
}

.huub-material-icon[icon='unlocked']:before {
    content: '\e91b';
}

.huub-material-icon[icon='leaf']:before {
    content: '\e919';
}

.huub-material-icon[icon='document']:before {
    content: '\e91a';
}

.huub-material-icon[icon='bullet']:before {
    content: '\e918';
}

.huub-material-icon[icon='thunder']:before {
    content: '\e90f';
}

.huub-material-icon[icon='circle-empty']:before {
    content: '\e914';
}

.huub-material-icon[icon='circle-checked']:before {
    content: '\e926';
}

.huub-material-icon[icon='star']:before {
    content: '\e916';
}

.huub-material-icon[icon='filter']:before {
    content: '\e917';
}

.huub-material-icon[icon='arrow-up']:before {
    content: '\e912';
}

.huub-material-icon[icon='arrow-down']:before {
    content: '\e913';
}

.huub-material-icon[icon='check']:before {
    content: '\e902';
}

.huub-material-icon[icon='chevron-down']:before {
    content: '\e903';
}

.huub-material-icon[icon='chevron-up']:before {
    content: '\e906';
}

.huub-material-icon[icon='chevron-right']:before {
    content: '\e905';
}

.huub-material-icon[icon='chevron-left']:before {
    content: '\e904';
}

.huub-material-icon[icon='error']:before {
    content: '\e911';
}

.huub-material-icon[icon='search']:before {
    content: '\e910';
}

.huub-material-icon[icon='calendar']:before {
    content: '\e901';
}

.huub-material-icon[icon='close']:before {
    content: '\e907';
}

.huub-material-icon[icon='info']:before {
    content: '\e908';
}

.huub-material-icon[icon='notification']:before {
    content: '\e909';
}

.huub-material-icon[icon='pause']:before {
    content: '\e90a';
}

.huub-material-icon[icon='play']:before {
    content: '\e90b';
}

.huub-material-icon[icon='redo']:before {
    content: '\e90c';
}

.huub-material-icon[icon='subtract']:before {
    content: '\e90d';
}

.huub-material-icon[icon='add']:before {
    content: '\e900';
}

.huub-material-icon[icon='merge']:before {
    content: '\e927';
}
