.ui-weight-input {
    display: flex;
    color: var(--black);
    font-size: 14px;
}

.weight-char {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    min-width: 40px;
    border: 1px solid var(--grey);
    background: linear-gradient(180deg, var(--white) 0%, var(--white-dark) 100%);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: 0;
    cursor: pointer;
}

.weight-char__input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.weight-input__dropdown {
    position: absolute;
    margin-top: 40px;
    border: 1px solid var(--grey);
    border-radius: 2px;
    z-index: 3;
    max-height: 320px;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 15px;
    background-color: var(--white);
}

.weight-input__dropdown-item {
    height: 40px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.weight-input__dropdown-item:nth-child(odd) {
    background-color: var(--white-grey-light);
}

.weight-input__dropdown-char {
    width: 40px;
    height: 40px;
    border-right: 1px solid var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.weight-input__dropdown-item:first-child .weight-input__dropdown-char {
    border-top-right-radius: 2px;
}

.weight-input__dropdown-item:last-child .weight-input__dropdown-char {
    border-bottom-right-radius: 2px;
}

.weight-input__dropdown-iso-code {
    margin-left: 8px;
}

.weight-input__dropdown-name {
    margin-left: 11px;
    margin-right: 11px;
    font-size: 12px;
    color: var(--blue-grey-dark);
    white-space: nowrap;
}

hr {
    border: 0;
    border-top: 1px solid var(--grey-light);
}

.ui-weight-input__dropdown--title {
    margin: 10px;
    font-size: 13px;
}

.ui-weight-input__search--style {
    margin: 5px 5px -15px 5px;
}
