<div class="ui-weight-input">
    <span class="weight-char" (click)="openCloseDropdown()">{{weightUnitSymbol}}</span>
    <input (click)="openCloseDropdown()" type="text" class="weight-char__input" (input)="onInputChange()" [(ngModel)]="weightUnitName"
        [ngModelOptions]="{standalone: true}" readonly>
    <div *ngIf="isDropdownOpened" style="min-width: 300px;" class="weight-input__dropdown" (mouseleave)="openCloseDropdown()">
        <div class="ui-weight-input__search--style">
            <ui-input-search (onClearIconClicked)="onClearSearchInput()" [viewModel]="inputSearchViewModel" #searchInput ngDefaultControl
                [(ngModel)]="inputSearchViewModel.value"></ui-input-search>
        </div>
        <br />
        <div *ngIf="!inputSearchViewModel.value">
            <p class="ui-weight-input__dropdown--title">{{popularWeightUnitsTitle}}</p>
            <div *ngFor="let weight of popularWeightUnitsList" class="weight-input__dropdown-item" (click)="changeWeight(weight.symbol)">
                <span class="weight-input__dropdown-char">{{weight.symbol}}</span>
                <span class="weight-input__dropdown-name">{{weight.name}}</span>
            </div>
            <br />
            <hr>
            <br />
            <p class="ui-weight-input__dropdown--title">{{allWeightUnitsTitle}}</p>
        </div>
        <div *ngFor="let weight of weightUnitsList | searchPipe:'name,symbol':inputSearchViewModel.value" class="weight-input__dropdown-item"
            (click)="changeWeight(weight.symbol)">
            <span class="weight-input__dropdown-char">{{weight.symbol}}</span>
            <span class="weight-input__dropdown-name">{{weight.name}}</span>
        </div>
    </div>
</div>
