@import '../base/base.css';

ui-toggle-buttons,
.ui-toggle-buttons__nav {
    display: flex;
    height: 33px;
    width: auto;
    align-items: center;
    justify-content: flex-start;
}

.ui-toggle-buttons__nav {
    border-style: solid;
    border-width: 1px;
    border-color: var(--blue);
    border-radius: 5px;
    overflow: hidden;
}

.ui-toggle-buttons__button,
.ui-toggle-buttons__button--active {
    font-weight: normal;
    min-width: 100px;
    width: auto;
    height: inherit;
    text-align: center;
    color: var(--blue);
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: var(--blue);
    border-radius: 0;
    white-space: nowrap;
}

.ui-toggle-buttons__button--active:first-child,
.ui-toggle-buttons__button:first-child {
    border-left: none;
}

.ui-toggle-buttons__button:disabled {
    background: var(--white);
}

.ui-toggle-buttons__button--active {
    background: var(--blue);
    color: white;
}

.ui-toggle-buttons__button:not(:disabled):hover {
    color: var(--blue-light);
}

/** Flat type **/
ui-toggle-buttons[type='flat'] .ui-toggle-buttons__nav {
    border-radius: 22px;
    border-width: 1px;
    border-color: var(--grey-light);
}

ui-toggle-buttons[type='flat'] .ui-toggle-buttons__button {
    background-color: var(--white-dark);
    color: var(--blue-grey-dark);
}

ui-toggle-buttons[type='flat'] .ui-toggle-buttons__button,
ui-toggle-buttons[type='flat'] .ui-toggle-buttons__button--active {
    min-width: auto;
    padding-left: 13px;
    padding-right: 13px;
    border-left-color: var(--grey-light);
}

ui-toggle-buttons[type='flat'] .ui-toggle-buttons__button--active {
    background-color: var(--white);
    color: var(--blue);
}

ui-toggle-buttons[type='flat'] .ui-toggle-buttons__button:not(:disabled):hover {
    color: var(--blue);
}

ui-toggle-buttons[type='flat'],
ui-toggle-buttons[type='flat'] .ui-toggle-buttons__nav {
    height: 38px;
}

/** Green Theme **/
ui-toggle-buttons[theme='green'] .ui-toggle-buttons__button--active {
    background: var(--green);
}

ui-toggle-buttons[theme='green'] .ui-toggle-buttons__button:not(:disabled) {
    color: var(--text-light-grey);
}

ui-toggle-buttons[theme='green'] .ui-toggle-buttons__button:not(:disabled):hover {
    color: var(--text-grey);
}

ui-toggle-buttons[theme='green'] .ui-toggle-buttons__nav,
ui-toggle-buttons[theme='green'] .ui-toggle-buttons__button,
ui-toggle-buttons[theme='green'] .ui-toggle-buttons__button--active {
    border-color: var(--text-light-grey);
}
