<nav class="ui-toggle-buttons__nav">
    <button *ngFor="let toggleButton of viewModel.items; let toggleIndex = index;"
            [ngClass]="{
                'ui-toggle-buttons__button': !(viewModel.selectedIndex === toggleIndex),
                'ui-toggle-buttons__button--active': viewModel.selectedIndex === toggleIndex
            }"
            [attr.disabled]="toggleButton.disabled"
            (click)="onToggleButtonClicked(toggleIndex)">{{toggleButton.text}}</button>
</nav>
