<div class="ui-button-actions"
    (mouseleave)="hideOptionContainerVisibility()">
    <button [attr.type]="type"
            role="icon"
            (click)="showOptionContainerVisibility()"></button>
    <div class="ui-button-actions__actions-list"
        [ngClass]="{
            'ui-button-actions__actions-list--visible': optionContainerIsVisible,
            'ui-button-actions__actions-list--right': alignRight,
            'ui-button-actions__actions-list--left': alignLeft
        }"
        (mouseleave)="hideOptionContainerVisibility()">
            <a *ngFor="let link of viewModel.items"
                class="ui-button-actions__actions-list-link"
                (click)="onLinkClicked(link)">
                {{link.text}}
            </a>
    </div>
</div>
