@import '../base/base.css';

.ui-button-actions {
    width: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-flex;
}

.ui-button-actions__actions-list {
    display: none;
    width: 150px;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;
    padding: 10px;
    top: 10px;
    color: var(--text-dark-grey);
    box-shadow: var(--box-shadow);
    background: var(--white);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-style: solid;
    border-top-color: transparent;
    z-index: 1;
}

.ui-button-actions button[type='secondary'] + .ui-button-actions__actions-list {
    top: 25px;
}

.ui-button-actions__actions-list--right {
    left: 0;
}

.ui-button-actions__actions-list--left {
    right: 0;
}

.ui-button-actions__actions-list--visible {
    display: flex;
}

.ui-button-actions__actions-list-link {
    cursor: pointer;
    white-space: nowrap;
}

.ui-button-actions__actions-list-link:hover {
    color: var(--blue);
}
