.ui-notification-counter {
    font-size: 12px;
    color: var(--white);
    border-radius: 9px;
    padding: 1px 3px;
    margin: 0 2px;
    background-color: var(--grey-light);
    color: var(--blue-grey-dark);
}

.ui-notification-counter[color='red'] {
    background-color: var(--red);
    color: var(--white);
}

.ui-notification-counter[color='green'] {
    background-color: var(--green);
    color: var(--white);
}

.ui-notification-counter[color='blue'] {
    background-color: var(--blue);
    color: var(--white);
}

.ui-notification-counter[color='grey'] {
    background-color: var(--grey-light);
    color: var(--blue-grey-dark);
}
