<div class="main">
    <section>
        <h1>Buttons</h1>

        <div class="wrapper">
            <article>
                <h2>Green - Regular</h2>
                <button class="green">Green - Regular</button>
            </article>
            <article>
                <h2>Green - Active</h2>
                <button class="green--active">Green - Active</button>
            </article>

            <article>
                <h2>Red - Regular</h2>
                <button class="red">Red - Regular</button>
            </article>
            <article>
                <h2>Red - Active</h2>
                <button class="red--active">Red - Active</button>
            </article>

            <article>
                <h2>Blue - Regular</h2>
                <button class="blue">Blue - Regular</button>
            </article>
            <article>
                <h2>Blue - Active</h2>
                <button class="blue--active">Blue - Active</button>
            </article>

            <article>
                <h2>Tertiary</h2>
                <button type="tertiary">Download</button>
            </article>
            <article>
                <h2>Tertiary - Disabled</h2>
                <button type="tertiary" disabled>Download</button>
            </article>
            <article>
                <h2>Tertiary - Active</h2>
                <button type="tertiary" class="tertiary--active">Download</button>
            </article>
            <article>
                <h2>Tertiary - Icon</h2>
                <button type="tertiary" role="icon"></button>
            </article>

            <article>
                <h2>Disabled</h2>
                <button disabled>Download</button>
            </article>

            <article>
                <h2>Secondary</h2>
                <button type="secondary">Download</button>
            </article>
            <article>
                <h2>Secondary - Grey</h2>
                <button type="secondary" color="grey">Download</button>
            </article>
            <article>
                <h2>Secondary - Disabled</h2>
                <button type="secondary" disabled>Download</button>
            </article>
            <article>
                <h2>Secondary - Active</h2>
                <button type="secondary" class="secondary--active">Download</button>
            </article>
            <article>
                <h2>Secondary - Icon</h2>
                <button type="secondary" role="icon"></button>
            </article>
        </div>
    </section>

    <section>
        <h1>Buttons Examples with icons and text</h1>

        <div class="wrapper-simple">
            <article>
                <button class="blue">
                    <i class="huub-material-icon" icon="play"></i>
                    <span>Join</span>
                </button>
            </article>
            <article>
                <button class="blue">
                    <i class="huub-material-icon" icon="pause"></i>
                    <span>Pause</span>
                </button>
            </article>
            <article>
                <button class="green">
                    <i class="huub-material-icon" icon="check"></i>
                    <span>Confirm</span>
                </button>
            </article>
            <article>
                <button class="red">
                    <i class="huub-material-icon" icon="close"></i>
                    <span>Cancel</span>
                </button>
            </article>
        </div>
    </section>
</div>
