<div style="background-color:white; border: 2px solid lightgray; height:500px; margin-top:20px; padding:20px;">
    {{stepContext.componentContext.text}}
</div>
<div style="float:right;">
    <button (click)="stepContext.goToPreviousStep()">Previous</button>
    <button (click)="stepContext.goToNextStep()">Next</button>
</div>