<div class="main">
    <section>
        <h2>Upload Files</h2>

        <ui-upload-file
            [viewModel]="uploadFilesViewModel"
            (onFileSelected)="uploadFileOnSelectedFile($event)"
            (onFileRemoved)="uploadFileOnRemovedFile($event)">
        </ui-upload-file>
    </section>
</div>
