@import '../base/base.css';

.ui-autocomplete {
    position: relative;
}

.ui-autocomplete,
.ui-autocomplete__textbox,
.ui-autocomplete__selectbox {
    width: 100%;
}

.ui-autocomplete__clear {
    top: 2px;
    right: 10px;
    padding: 0;
    position: absolute;
}

.ui-autocomplete__selectbox {
    display: none;
    max-height: 147px;
    position: absolute;
    top: 37px;
    left: 0;
    z-index: 2;
    border-width: 1px;
    border-style: solid;
    border-color: var(--text-light-grey);
    background: var(--white);
    border-radius: 5px;
    overflow-y: scroll;
}

.ui-autocomplete__selectbox--visible {
    display: block;
}

.ui-autocomplete__textbox:focus ~ .ui-autocomplete__selectbox {
    display: block;
}

.ui-autocomplete__selectbox::-webkit-scrollbar {
    display: none;
}

.ui-autocomplete__filter-tags {
    margin-top: 5px;
}

.ui-autocomplete__option {
    display: block;
    padding: 8px;
}

.ui-autocomplete__option:hover {
    background-color: var(--background-color-highlight-grey);
    cursor: pointer;
}
