<div class="ui-autocomplete"
    (mouseleave)="hideOptionsMenu()">
    <input type="text"
           class="ui-autocomplete__textbox"
           [attr.placeholder]="placeholder"
           (keyup)="searchValue(searchString)"
           (focus)="showOptionsMenu()"
           [(ngModel)]="searchString"
           [ngClass]="{'form-field__input--error': hasError}"
           [disabled]="disabled">
    <button *ngIf="searchString !== ''"
            class="ui-autocomplete__clear"
            (click)="clearSearch()">
        <i class="huub-material-icon"
            size="small"
            icon="close"></i>
    </button>
    <ui-filter-tags *ngIf="selectedOptions.length > 0"
                    class="ui-autocomplete__filter-tags"
                    (onLabelRemoved)="onFilterTagRemoved($event)"
                    [viewModel]="filterTagsViewModel"></ui-filter-tags>
    <div class="ui-autocomplete__selectbox"
         [ngClass]="{'ui-autocomplete__selectbox--visible': showOptionsList}">
        <a class="ui-autocomplete__option"
             *ngFor="let option of processedOptionsList"
             (click)="onOptionSelected(option)">{{option.text}}</a>
    </div>
</div>
