<div class="main">
    <section>
        <h2>Checkboxes</h2>

        <div class="wrapper">
            <article>
                <h3>Checkbox - Normal</h3>

                <input type="checkbox" class="huub-material-icon">
            </article>
            <article>
                <h3>Checkbox - Checked</h3>

                <input type="checkbox" class="huub-material-icon" checked>
            </article>
            <article>
                <h3>Checkbox - Disabled</h3>

                <input type="checkbox" class="huub-material-icon" disabled>
            </article>
            <article>
                <h3>Checkbox - Disabled - Checked</h3>

                <input type="checkbox" class="huub-material-icon" disabled checked>
            </article>
            <article>
                <h3>Checkbox Indeterminate - Normal</h3>

                <ui-checkbox-indeterminate status="indeterminate"></ui-checkbox-indeterminate>
            </article>
            <article>
                <h3>Checkbox Indeterminate - Disabled</h3>

                <ui-checkbox-indeterminate status="checked" [disabled]="true"></ui-checkbox-indeterminate>
            </article>
            <article>
                <h3>Checkbox - Toogle</h3>

                <input type="checkbox" class="toggle">
            </article>
            <article>
                <h3>Checkbox - Toogle - Checked</h3>

                <input type="checkbox" class="toggle" checked>
            </article>
            <article>
                <h3>Checkbox - Toogle - Disabled</h3>

                <input type="checkbox" class="toggle" disabled>
            </article>
        </div>
    </section>
    <section>
        <h2>Copy Input</h2>

        <div class="wrapper">
            <article>
                <ui-copy-input
                    value="Calle Cal Nyepa, 23, Calle Cal Nyepa, 23,Calle Cal Nyepa, 23,Calle Cal Nyepa, 23 Calle Cal Nyepa, 23, Calle Cal Nyepa, 23"
                    label="Address" [editable]="false">
                </ui-copy-input>
            </article>
            <article>
                <ui-copy-input value="30" type="currency" currency='eur' [label]="currencyLabel"
                    (onSubmit)="onSubmit($event)">
                </ui-copy-input>
            </article>
            <article>
                <ui-copy-input value="30" type="currency" currency='eur' [label]="currencyLabel"
                    (onSubmit)="onSubmit($event)" [disabled]="true">
                </ui-copy-input>
            </article>
            <article>
                <ui-copy-input value="Calle Cal Nyepa, 23" [viewModel]="uiCopyViewModel">
                </ui-copy-input>
            </article>

            <article>
                <div style="width: 30%">
                    <ui-copy-input value="Calle Cal Nyepa, 23" [viewModel]="uiCopyViewModel">
                    </ui-copy-input>
                </div>
            </article>

            <article>
                <ui-copy-input value="Calle Cal Nyepa, 23" [viewModel]="uiCopyViewModel" [disabled]="true">
                </ui-copy-input>
            </article>
            <article>
                <div style="width:150px">
                    <ui-copy-input value="30" type="currency" currency='eur' [label]="currencyLabel"
                        (onSubmit)="onSubmit($event)">
                    </ui-copy-input>
                </div>
            </article>
        </div>
    </section>
    <section>
        <h2>Currencies & Weights</h2>

        <article class="other">
            <h3>Currencies dropdown</h3>

            <ui-currencies-dropdown currency="EUR" value="Euro"></ui-currencies-dropdown>
        </article>

        <article>
            <h3>Currency Input</h3>

            <ui-currency-input currency='EUR' placeholder="1.5"></ui-currency-input>
            <ui-currency-input currency='GBP' (onChange)="onInputChange($event)"></ui-currency-input>
            <ui-currency-input currency='dkk' value="3"></ui-currency-input>
            <ui-currency-input currency='dkk' value="3" [disabled]="true"></ui-currency-input>
        </article>

        <article>
            <h3>Weight units dropdown</h3>

            <ui-weight-units-dropdown weightUnitSymbol="kg"></ui-weight-units-dropdown>
        </article>
    </section>
    <section>
        <h2>Date Input</h2>

        <ui-date-input [datesDisabled]="datesDisabled" [disablePastDates]="true" [disableWeekendDays]="true"
            [datesWithBullets]="datesWithBullets" [bottomLabel]="'Service Level: Economy'" [disable]="false"
            [isInvalidDate]="true" [value]="inputDateValue" [placeholder]="'DD-MM-YYYY'" [dateFormat]="'dd-mm-yyyy'"
            [monthNames]="monthNames" [weekDays]="weekDays">
        </ui-date-input>
    </section>
    <section>
        <h2>Upload Files</h2>

        <ui-upload-file [viewModel]="uploadFilesViewModel" (onFileSelected)="uploadFileOnSelectedFile($event)"
            (onFileRemoved)="uploadFileOnRemovedFile($event)">
        </ui-upload-file>
    </section>
    <section>
        <h2>Inputs</h2>

        <div class="wrapper">
            <article>
                <h3>Input - Regular</h3>

                <input type="text" placeholder="Example" />
            </article>
            <article>
                <h3>Input - Disabled</h3>

                <input type="text" placeholder="Example" disabled />
            </article>
            <article>
                <h3>Input - Error</h3>

                <input type="text" class="form-field__input--error" placeholder="Example">
            </article>
            <article>
                <h3>Input - With Description</h3>

                <div class="form-field__container">
                    <input type="text" placeholder="Example">
                    <legend class="form-field__container-legend">Some description</legend>
                </div>
            </article>
            <article>
                <h3>Input - With Description & Error</h3>

                <div class="form-field__container">
                    <input type="text" class="form-field__input--error" placeholder="Example">
                    <legend class="form-field__container-legend">Some description</legend>
                </div>
            </article>
        </div>
    </section>
    <section>
        <h2>Radios</h2>

        <div class="wrapper">
            <article>
                <h3>Radio - Normal</h3>

                <input type="radio" class="huub-material-icon">
            </article>
            <article>
                <h3>Radio - Checked</h3>

                <input type="radio" class="huub-material-icon" checked>
            </article>
            <article>
                <h3>Radio - Disabled</h3>

                <input type="radio" class="huub-material-icon" disabled>
            </article>
            <article>
                <h3>Radio - Disabled - Checked</h3>

                <input type="radio" class="huub-material-icon" disabled checked>
            </article>
        </div>
    </section>
    <section>
        <h2>Search input</h2>

        <ui-input-search [viewModel]="inputSearchViewModel" (onSubmit)="onFormSubmited($event)"
            (onChange)="onInputChange($event)">
        </ui-input-search>
    </section>
    <section>
        <h2>Spinners</h2>

        <div class="wrapper">
            <article>
                <h3>Spinner - Normal</h3>

                <ui-spinner [value]="1"></ui-spinner>
            </article>
            <article>
                <h3>Spinner - Error</h3>

                <ui-spinner [value]="1" [hasError]="true"></ui-spinner>
            </article>
            <article>
                <h3>Spinner - Disabled</h3>

                <ui-spinner [value]="1" [disabled]="true"></ui-spinner>
            </article>
        </div>
    </section>
    <section>
        <h2>Textareas</h2>

        <div class="wrapper">
            <article>
                <h3>Textarea - Regular</h3>

                <textarea placeholder="Example"></textarea>
            </article>
            <article>
                <h3>Textarea - Disabled</h3>

                <textarea placeholder="Example" disabled></textarea>
            </article>
            <article>
                <h3>Textarea - Error</h3>

                <textarea class="form-field__input--error" placeholder="Example"></textarea>
            </article>
            <article>
                <h3>Textarea - With Description</h3>

                <div class="form-field__container">
                    <textarea placeholder="Example"></textarea>
                    <legend class="form-field__container-legend">Some description</legend>
                </div>
            </article>
            <article>
                <h3>Textarea - With Description & Error</h3>

                <div class="form-field__container">
                    <textarea class="form-field__input--error" placeholder="Example"></textarea>
                    <legend class="form-field__container-legend">Some description</legend>
                </div>
            </article>
        </div>
    </section>
</div>
