<div class="ui-currency-input">
    <span class="currency-char" (click)="openCloseDropdown()">{{currencySymbol}}</span>
    <input (click)="openCloseDropdown()" type="text" class="currency-char__input" (input)="onInputChange()" [(ngModel)]="value"
        [ngModelOptions]="{standalone: true}" readonly>
    <div *ngIf="isDropdownOpened" class="currency-input__dropdown" (mouseleave)="openCloseDropdown()">
        <div class="ui-currency-input__search--style">
            <ui-input-search (onClearIconClicked)="onClearSearchInput()" [viewModel]="inputSearchViewModel" #searchInput ngDefaultControl
                [(ngModel)]="inputSearchViewModel.value"></ui-input-search>
        </div>
        <br />
        <div *ngIf="!inputSearchViewModel.value">
            <p class="ui-currency-input__dropdown--title">{{popularCurrencyTitle}}</p>
            <div *ngFor="let currency of popularCurrenciesList" class="currency-input__dropdown-item" (click)="changeCurrency(currency.iso3code)">
                <span class="currency-input__dropdown-char">{{currency.symbol}}</span>
                <span class="currency-input__dropdown-iso-code">{{currency.iso3code}}</span>
                <span class="currency-input__dropdown-name">{{currency.name}}</span>
            </div>
            <br />
            <hr>
            <br />
            <p class="ui-currency-input__dropdown--title">{{allCurrencyTitle}}</p>
        </div>
        <div *ngFor="let currency of currenciesList | searchPipe:'name,symbol,iso3code':inputSearchViewModel.value" class="currency-input__dropdown-item" (click)="changeCurrency(currency.iso3code)">
            <span class="currency-input__dropdown-char">{{currency.symbol}}</span>
            <span class="currency-input__dropdown-iso-code">{{currency.iso3code}}</span>
            <span class="currency-input__dropdown-name">{{currency.name}}</span>
        </div>
    </div>
</div>
