<div class="main">
    <h1>Toggles</h1>

    <section>
        <h2>Toggle Buttons</h2>

        <ui-toggle-buttons [viewModel]="sandBoxViewModel"></ui-toggle-buttons>
    </section>

    <section>
        <h2>Toggle Buttons (Green Theme)</h2>

        <ui-toggle-buttons theme="green" [viewModel]="sandBoxViewModel"></ui-toggle-buttons>
    </section>

    <section>
        <h2>Toggle Buttons (Flat Type)</h2>

        <ui-toggle-buttons type="flat" [viewModel]="sandBoxFlatViewModel"></ui-toggle-buttons>
    </section>
</div>
