<div class="main">
    <h1>Progress Bars</h1>

    <section>
        <h2>Small - 100%</h2>

        <ui-progress-bar [percentage]="100" size="small"></ui-progress-bar>
    </section>

    <section>
        <h2>Regular - 75%</h2>

        <ui-progress-bar [percentage]="75"></ui-progress-bar>
    </section>

    <section>
        <h2>Large - 75%t</h2>

        <ui-progress-bar [percentage]="75" size="large"></ui-progress-bar>
    </section>
</div>
