/* Input, Textarea Styles */

input,
textarea,
select,
input[type='checkbox']:not(.toggle)::after,
input[type='radio']::after {
    background: var(--white);
    border-radius: 2px;
    border-color: var(--grey);
    border-width: 1px;
    border-style: solid;
    padding-left: 8px;
    color: var(--text-darker-grey);
    width: 100%;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}

textarea {
    line-height: inherit;
    padding-top: 12px;
    padding-bottom: 12px;
}

input.small,
textarea.small,
select.small {
    height: 38px;
    line-height: 38px;
}

input.large,
select.large,
select.large {
    height: 52px;
    line-height: 52px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

input::placeholder,
textarea::placeholder {
    color: var(--grey);
}

textarea {
    height: auto;
    min-height: 123px;
}

.form-field__input--error,
.form-field__input--error:focus {
    border-color: var(--red);
}

input:not(.form-field__input--error):focus,
textarea:not(.form-field__input--error):focus {
    border-color: var(--grey-dark);
}

/* Input Type Checkbox */

input[type='checkbox']:not(.toggle),
input[type='radio'] {
    position: relative;
}

input[type='checkbox']:not(.toggle)::after,
input[type='checkbox']:not(.toggle),
input[type='radio']::after,
input[type='radio'] {
    padding: 0;
}

input[type='checkbox']:not(.toggle)::after,
input[type='checkbox']:not(.toggle) {
    width: 16px;
    height: 16px;
    font-size: 10px;
}

input[type='radio']::after,
input[type='radio'] {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 19px;
}

input[type='checkbox']:not(.toggle):not(.form-field__input--error):not(:disabled):checked::after {
    border-color: var(--blue);
    background-color: var(--blue);
    color: var(--white);
}

input[type='radio']:not(.form-field__input--error):not(:disabled):checked::after {
    border-color: var(--blue);
    background-color: var(--white);
    color: var(--blue);
}

input[type='radio']:not(.form-field__input--error):checked::after {
    content: '\e918'; /* Bullet Icon */
}

input[type='checkbox']:not(.toggle):not(.form-field__input--error):checked::after {
    content: '\e902'; /* Check Icon */
}

input[type='checkbox'].indeterminate:not(.toggle):not(.form-field__input--error):checked::after {
    content: '\e90d'; /* Subtract Icon */
}

input[type='checkbox']:not(.toggle)::after,
input[type='radio']::after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

input[disabled][type='checkbox']:not(.toggle)::after,
input[disabled][type='radio']::after {
    background: var(--grey-light);
    border-color: transparent;
}

input[disabled][type='checkbox']:not(.toggle):checked::after,
input[disabled][type='radio']:checked::after {
    border-width: 2px;
    color: var(--grey);
}

/* Input type Toggle */
input[type='checkbox'].toggle,
input[type='checkbox'].toggle::after {
    position: relative;
    appearance: none;
    width: 30px;
    height: 16px;
    background: var(--white);
    border: 1px solid var(--grey);
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

input[type='checkbox'].toggle::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 16px;
    border-radius: 50%;
}

input[type='checkbox'].toggle:checked {
    border-color: var(--green);
    background-color: var(--green);
}

input[type='checkbox'].toggle:checked::after {
    left: 12px;
}

/* Disabled Status */
input[disabled],
textarea[disabled],
select[disabled],
input[type='checkbox'][disabled] {
    background: var(--grey-light);
    border-color: var(--grey);
}

/* Select Box */
select option:hover {
    background: var(--background-color-light-grey);
}
