/* Container Generic Style */

.form-field__container-legend {
    display: block;
    margin-top: 9px;
    font-size: 11px;
    color: var(--text-darker-grey);
}

.form-field__input--error + .form-field__container-legend {
    color: var(--red);
}
